:root {
  --color-primary: #FF0055;
  --color-secondary: #0068FF;
  --color-third: #00E3B4;
  --color-heading: #2E3F58;  
  --primary: var(--color-primary);
  --secondary: var(--color-secondary);
  --accent: var(--color-third);
  --primary-fg: #fff;

  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: #000;

  --header-color: #ffc;
  --header-branding-color: var(--accent);
  --header-bg: var(--secondary);
  --header-link-color: var(--primary-fg);

  --breadcrumbs-fg: #c4dce8;
  --breadcrumbs-link-fg: var(--body-bg);
  --breadcrumbs-bg: var(--primary);

  --link-fg: var(--color-secondary);
  --link-hover-color: var(--color-heading);
  --link-selected-fg: var(--color-heading);

  --hairline-color: #e8e8e8;
  --border-color: #ccc;

  --error-fg: #ba2121;

  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;

  --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
  --selected-bg: #e4e4e4; /* E.g. selected table cells */
  --selected-row: #ffc;

  --button-fg: #fff;
  --button-bg: var(--color-primary);
  --button-hover-bg: var(--color-heading);
  --default-button-bg: var(--secondary);
  --default-button-hover-bg: var(--color-heading);
  --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
  --close-button-hover-bg: #747474;
  --delete-button-bg: var(--color-third);
  --delete-button-hover-bg: var(--color-heading);

  --object-tools-fg: var(--button-fg);
  --object-tools-bg: var(--close-button-bg);
  --object-tools-hover-bg: var(--close-button-hover-bg);
}

body {
  color: var(--body-fg);
  background: var(--body-bg);
}

a:link, a:visited {
  color: var(--link-fg);
}

a:focus, a:hover {
  color: var(--link-hover-color);
}

a.section:link, a.section:visited {
  color: var(--header-link-color);
}

h1 {
  color: var(--body-quiet-color);
}

h3 {
  color: var(--body-quiet-color);
}

h5 {
  color: var(--body-quiet-color);
}

fieldset {
  border-top: 1px solid var(--hairline-color);
}

code, pre {
  color: var(--body-quiet-color);
}

pre.literal-block {
  background: var(--darkened-bg);
}

hr {
  color: var(--hairline-color);
  background-color: var(--hairline-color);
}

.help, p.help, form p.help, div.help, form div.help, div.help li {
  color: var(--body-quiet-color);
}

.quiet, a.quiet:link, a.quiet:visited {
  color: var(--body-quiet-color);
}

table {
  border-color: var(--border-color);
}

td, th {
  border-bottom: 1px solid var(--hairline-color);
}

thead th,
tfoot td {
  color: var(--body-quiet-color);
  background: var(--body-bg);
  border-top: 1px solid var(--hairline-color);
  border-bottom: 1px solid var(--hairline-color);
}

tfoot td {
  border-bottom: none;
  border-top: 1px solid var(--hairline-color);
}

thead th.required {
  color: var(--body-loud-color);
}

tr.alt {
  background: var(--darkened-bg);
}

tr:nth-child(odd), .row-form-errors {
  background: var(--body-bg);
}

tr:nth-child(even),
tr:nth-child(even) .errorlist,
tr:nth-child(odd) + .row-form-errors,
tr:nth-child(odd) + .row-form-errors .errorlist {
  background: var(--darkened-bg);
}

thead th {
  background: var(--darkened-bg);
}

thead th a:link, thead th a:visited {
  color: var(--body-quiet-color);
}

thead th.sorted {
  background: var(--selected-bg);
}

table thead th .text a:focus, table thead th .text a:hover {
  background: var(--selected-bg);
}

table thead th.sorted .sortoptions a.sortremove:after {
  color: var(--body-quiet-color);
}

table thead th.sorted .sortoptions a.sortremove:focus:after,
table thead th.sorted .sortoptions a.sortremove:hover:after {
  color: var(--link-fg);
}

input[type=text], input[type=password], input[type=email], input[type=url],
input[type=number], input[type=tel], textarea, select, .vTextField {
    border: 1px solid var(--border-color);
    color: var(--body-fg);
    background-color: var(--body-bg);
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=url]:focus, input[type=number]:focus, input[type=tel]:focus,
textarea:focus, select:focus, .vTextField:focus {
    border-color: var(--body-quiet-color);
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: var(--button-bg);
  color: var(--button-fg);
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
  background: var(--button-hover-bg);
}

.button.default, input[type=submit].default, .submit-row input.default {
  background: var(--default-button-bg);
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
  background: var(--default-button-hover-bg);
}

.module {
  background: var(--body-bg);
}

.module h2, .module caption, .inline-group h2 {
    background: var(--primary);
    color: var(--header-link-color);
}

ul.messagelist li {
  background-color: var(--message-success-bg);
  color: var(--body-fg);
}

ul.messagelist li.warning {
  background-color: var(--message-warning-bg);
}

ul.messagelist li.error {
  background-color: var(--message-error-bg);
}

.errornote {
  color: var(--error-fg);
  border: 1px solid var(--error-fg);
  background-color: var(--body-bg);
}

ul.errorlist {
  color: var(--error-fg);
  background: var(--body-bg);
}

.form-row.errors {
  border-bottom: 1px solid var(--hairline-color);
}

.errors input, .errors select, .errors textarea,
td ul.errorlist + input, td ul.errorlist + select, td ul.errorlist + textarea {
  border: 1px solid var(--error-fg);
}

div.breadcrumbs {
  background: var(--breadcrumbs-bg);
  color: var(--breadcrumbs-fg);
}

div.breadcrumbs a {
  color: var(--breadcrumbs-link-fg);
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
  color: var(--breadcrumbs-fg);
}

.object-tools a:link, .object-tools a:visited {
  background: var(--object-tools-bg);
  color: var(--object-tools-fg);
}

.object-tools a:focus, .object-tools a:hover {
  background-color: var(--object-tools-hover-bg);
}

#change-history .paginator {
  color: var(--body-quiet-color);
  border-bottom: 1px solid var(--hairline-color);
  background: var(--body-bg);
}

#header {
  background: var(--header-bg);
  color: var(--header-color);
}

#header a:link, #header a:visited, #logout-form button {
  color: var(--header-link-color);
}

#branding h1 {
  color: var(--header-branding-color);
}

#branding h1 a:link, #branding h1 a:visited {
  color: var(--accent);
}

#branding h2 {
  color: var(--header-color);
}

#user-tools a:focus, #user-tools a:hover,
#logout-form button:active, #logout-form button:hover {
    border-bottom-color: var(--primary);
    color: var(--primary);
}

#content-related {
    background: var(--darkened-bg);
}

#content-related h3 {
    color: var(--body-quiet-color);
}

#content-related .module h2 {
  border-bottom: 1px solid var(--hairline-color);
  color: var(--body-fg);
}

.delete-confirmation form input[type="submit"] {
  background: var(--delete-button-bg);
  color: var(--button-fg);
}

.delete-confirmation form input[type="submit"]:active,
.delete-confirmation form input[type="submit"]:focus,
.delete-confirmation form input[type="submit"]:hover {
  background: var(--delete-button-hover-bg);
}

.delete-confirmation form .cancel-link {
  color: var(--button-fg);
  background: var(--close-button-bg);
}

.delete-confirmation form .cancel-link:active,
.delete-confirmation form .cancel-link:focus,
.delete-confirmation form .cancel-link:hover {
    background: var(--close-button-hover-bg);
}

.paginator {
  border-top: 1px solid var(--hairline-color);
}

.paginator a:link, .paginator a:visited {
  background: var(--button-bg);
  color: var(--button-fg);
}

.paginator a.showall {
  color: var(--link-fg);
}

.paginator a.showall:focus, .paginator a.showall:hover {
  color: var(--link-hover-color);
}

.paginator a:focus, .paginator a:hover {
  background: var(--link-hover-color);
}

.form-row {
  border-bottom: 1px solid var(--hairline-color);
}

label {
  color: var(--body-quiet-color);
}

.required label, label.required {
  color: var(--body-fg);
}

fieldset.collapsed {
  border: 1px solid var(--hairline-color);
}

fieldset.collapsed h2 {
  background: var(--darkened-bg);
  color: var(--body-quiet-color);
}

fieldset .collapse-toggle {
  color: var(--header-link-color);
}

fieldset.collapsed .collapse-toggle {
  color: var(--link-fg);
}

.submit-row {
  border: 1px solid var(--hairline-color);
}

.submit-row a.deletelink {
  background: var(--delete-button-bg);
  color: var(--button-fg);
}

.submit-row a.closelink {
  background: var(--close-button-bg);
  color: var(--button-fg);
}

.submit-row a.deletelink:focus,
.submit-row a.deletelink:hover,
.submit-row a.deletelink:active {
  background: var(--delete-button-hover-bg);
}

.submit-row a.closelink:focus,
.submit-row a.closelink:hover,
.submit-row a.closelink:active {
  background: var(--close-button-hover-bg);
}

.inline-related h3 {
  color: var(--body-quiet-color);
  background: var(--darkened-bg);
  border-top: 1px solid var(--hairline-color);
  border-bottom: 1px solid var(--hairline-color);
}

.inline-related fieldset {
  background: var(--body-bg);
}

.inline-related fieldset.module h3 {
  color: var(--body-bg);
}

.inline-group .tabular td.original p {
  color: var(--body-quiet-color);
}

.inline-group div.add-row,
.inline-group .tabular tr.add-row td {
    color: var(--body-quiet-color);
    background: var(--darkened-bg);
    border-bottom: 1px solid var(--hairline-color);
}

.inline-group .tabular tr.add-row td {
    border-bottom: 1px solid var(--hairline-color);
}

.login {
  background: var(--darkened-bg);
}

.login #header h1 a {
  color: var(--header-link-color);
}

.login #container {
  background: var(--body-bg);
  border: 1px solid var(--hairline-color);
}

.toggle-nav-sidebar {
  border-right: 1px solid var(--hairline-color);
  background-color: var(--body-bg);
  color: var(--link-fg);
}

[dir="rtl"] .toggle-nav-sidebar {
  border-left: 1px solid var(--hairline-color);
}

.toggle-nav-sidebar:hover,
.toggle-nav-sidebar:focus {
  background-color: var(--darkened-bg);
}

#nav-sidebar {
  border-right: 1px solid var(--hairline-color);
  background-color: var(--body-bg);
}

[dir="rtl"] #nav-sidebar {
  border-left: 1px solid var(--hairline-color);
}

#nav-sidebar .current-app .section:link,
#nav-sidebar .current-app .section:visited {
    color: var(--header-color);
}

#nav-sidebar .current-model {
    background: var(--selected-row);
}

#nav-filter {
  border: 1px solid var(--border-color);
  background-color: var(--darkened-bg);
  color: var(--body-fg);
}

#nav-filter:focus {
  border-color: var(--body-quiet-color);
}

#nav-filter.no-results {
  background: var(--message-error-bg);
}

@media (max-width: 1024px) {
  #changelist .actions select {
    background: var(--body-bg);
  }

  #changelist .paginator {
      border-top-color: var(--hairline-color);
  }

  fieldset .fieldBox + .fieldBox {
    border-top: 1px solid var(--hairline-color);
  }

  .datetime .timezonewarning {
    color: var(--body-quiet-color);
  }

  .datetimeshortcuts {
      color: var(--border-color);
  }
}

@media (max-width: 767px) {

  .datetime .timezonewarning {
    color: var(--body-quiet-color);
  }

  .datetimeshortcuts {
      color: var(--border-color);
  }

  .inline-group[data-inline-type="stacked"] .inline-related {
    border: 1px solid var(--hairline-color);
  }

  .inline-group[data-inline-type="stacked"] .inline-related .module .form-row {
    border-top: 1px solid var(--hairline-color);
  }

  .inline-group[data-inline-type="stacked"] div.add-row {
      border: 1px solid var(--hairline-color);
  }

  .timelist a {
      background: var(--body-bg);
  }
}

#changelist-filter li.selected {
  border-right: 5px solid var(--hairline-color);
}


.selector-available h2, .selector-chosen h2 {
  border: 1px solid var(--border-color);
}

.selector-chosen h2 {
  background: var(--primary);
  color: var(--header-link-color);
}

.selector .selector-available h2 {
  background: var(--darkened-bg);
  color: var(--body-quiet-color);
}

.selector .selector-filter {
  border: 1px solid var(--border-color);
  color: var(--body-quiet-color);
}

.selector ul.selector-chooser {
  background-color: var(--selected-bg);
}

a.selector-chooseall, a.selector-clearall {
  color: var(--body-quiet-color);
}

a.active.selector-chooseall:focus, a.active.selector-clearall:focus,
a.active.selector-chooseall:hover, a.active.selector-clearall:hover {
  color: var(--link-fg);
}

p.datetime {
  color: var(--body-quiet-color);
}

.datetime span {
  color: var(--body-quiet-color);
}

.timezonewarning {
  color: var(--body-quiet-color);
}

p.url {
  color: var(--body-quiet-color);
}

p.file-upload {
  color: var(--body-quiet-color);
}

span.clearable-file-input label {
  color: var(--body-fg);
}

.calendarbox, .clockbox {
  background: var(--body-bg);
  color: var(--body-fg);
  border: 1px solid var(--hairline-color);
}

.calendar caption, .calendarbox h2 {
  background: var(--accent);
}

.calendar th {
  background: var(--darkened-bg);
  border-bottom: 1px solid var(--border-color);
  color: var(--body-quiet-color);
}

.calendar td {
  border-top: 1px solid var(--hairline-color);
}

.calendar td.selected a {
  background: var(--primary);
  color: var(--button-fg);
}

.calendar td.nonday {
  background: var(--darkened-bg);
}

.calendar td a, .timelist a {
  color: var(--body-quiet-color);
}

.calendar td a:focus, .timelist a:focus,
.calendar td a:hover, .timelist a:hover {
  background: var(--primary);
}

.calendar td a:active, .timelist a:active {
  background: var(--header-bg);
}

.calendarnav a:link, #calendarnav a:visited,
#calendarnav a:focus, #calendarnav a:hover {
  color: var(--body-quiet-color);
}

.calendar-shortcuts {
  background: var(--body-bg);
  color: var(--body-quiet-color);
  border-top: 1px solid var(--hairline-color);
}

.calendar-cancel {
  border-top: 1px solid var(--border-color);
  color: var(--body-fg);
}

.select2-container--admin-autocomplete.select2-container--focus .select2-selection,
.select2-container--admin-autocomplete.select2-container--open .select2-selection {
    border-color: var(--body-quiet-color);
}

.select2-container--admin-autocomplete .select2-selection--single {
    background-color: var(--body-bg);
    border: 1px solid var(--border-color);
}

.select2-container--admin-autocomplete .select2-selection--single .select2-selection__rendered {
    color: var(--body-fg);
}

.select2-container--admin-autocomplete .select2-selection--single .select2-selection__placeholder {
    color: var(--body-quiet-color);
}

.select2-container--admin-autocomplete.select2-container--disabled .select2-selection--single {
  background-color: var(--darkened-bg);
}

.select2-container--admin-autocomplete .select2-selection--multiple {
  background-color: var(--body-bg);
  border: 1px solid var(--border-color);
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__placeholder {
  color: var(--body-quiet-color);
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__choice {
  background-color: var(--darkened-bg);
  border: 1px solid var(--border-color);
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__choice__remove {
  color: var(--body-quiet-color);
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: var(--body-fg);
}

.select2-container--admin-autocomplete.select2-container--focus .select2-selection--multiple {
  border: solid var(--body-quiet-color) 1px;
}

.select2-container--admin-autocomplete.select2-container--disabled .select2-selection--multiple {
  background-color: var(--darkened-bg);
}

.select2-container--admin-autocomplete .select2-search--dropdown {
  background: var(--darkened-bg);
}

.select2-container--admin-autocomplete .select2-search--dropdown .select2-search__field {
  background: var(--body-bg);
  color: var(--body-fg);
  border: 1px solid var(--border-color);
}

.select2-container--admin-autocomplete .select2-search--inline .select2-search__field {
  color: var(--body-fg);
}

.select2-container--admin-autocomplete .select2-results > .select2-results__options {
  color: var(--body-fg);
  background: var(--body-bg);
}

.select2-container--admin-autocomplete .select2-results__option[aria-disabled=true] {
  color: var(--body-quiet-color);
}

.select2-container--admin-autocomplete .select2-results__option[aria-selected=true] {
  background-color: var(--selected-bg);
  color: var(--body-fg);
}

.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
  background-color: var(--primary);
  color: var(--primary-fg);
}

#changelist .toplinks {
  border-bottom: 1px solid var(--hairline-color);
}

#changelist .paginator {
  color: var(--body-quiet-color);
  border-bottom: 1px solid var(--hairline-color);
  background: var(--body-bg);
}

#changelist table tfoot {
  color: var(--body-quiet-color);
}

#toolbar {
  border-top: 1px solid var(--hairline-color);
  border-bottom: 1px solid var(--hairline-color);
  background: var(--darkened-bg);
  color: var(--body-quiet-color);
}

#toolbar form input {
  color: var(--body-fg);
}

#toolbar #searchbar {
  border: 1px solid var(--border-color);
}

#toolbar #searchbar:focus {
  border-color: var(--body-quiet-color);
}

#toolbar form input[type="submit"] {
  border: 1px solid var(--border-color);
  background: var(--body-bg);
  color: var(--body-fg);
}

#toolbar form input[type="submit"]:focus,
#toolbar form input[type="submit"]:hover {
  border-color: var(--body-quiet-color);
}

#changelist-filter {
  background: var(--darkened-bg);
}

#changelist-filter details > summary::before {
  color: var(--link-hover-color);
}

#changelist-filter ul {
  border-bottom: 1px solid var(--hairline-color);
}

#changelist-filter a {
  color: var(--body-quiet-color);
}

#changelist-filter li.selected {
  border-left: 5px solid var(--hairline-color);
}

#changelist-filter li.selected a {
  color: var(--link-selected-fg);
}

#changelist-filter a:focus, #changelist-filter a:hover,
#changelist-filter li.selected a:focus,
#changelist-filter li.selected a:hover {
  color: var(--link-hover-color);
}

#changelist-filter #changelist-filter-clear a {
  border-bottom: 1px solid var(--hairline-color);
}

.change-list ul.toplinks .date-back a {
  color: var(--body-quiet-color);
}

.change-list ul.toplinks .date-back a:focus,
.change-list ul.toplinks .date-back a:hover {
  color: var(--link-hover-color);
}

#changelist table tbody tr.selected {
  background-color: var(--selected-row);
}

#changelist .actions {
  background: var(--body-bg);
  color: var(--body-quiet-color);
}

#changelist .actions select {
  color: var(--body-fg);
  border: 1px solid var(--border-color);
}

#changelist .actions select:focus {
  border-color: var(--body-quiet-color);
}

#changelist .actions .button {
  border: 1px solid var(--border-color);
  background: var(--body-bg);
  color: var(--body-fg);
}

#changelist .actions .button:focus, #changelist .actions .button:hover {
  border-color: var(--body-quiet-color);
}
