:root {
    --hover-color: black;
    --focus-color: black;
}


/* --------------------------------- TOOLTIP -------------------------------- */

.tooltip-inner {
    font-size: xx-small;
}

.custom-tooltip {
    pointer-events: none;
}


.tooltip {
    pointer-events: none !important;
}


/* ------------------------------- NODE STATUS ------------------------------ */

.flag {
    opacity: 1;
}

.hide {
    visibility: hidden;
}

.orbit-group {
    transform-origin: center center;
    transform-box: fill-box;
    animation: rotate 15s linear infinite;
}

.orbit-container {
    pointer-events: none;
}

.hover {
    filter: drop-shadow(0px 0px 15px var(--hover-color))
}

.focus {
    filter: drop-shadow(0px 0px 15px var(--focus-color))
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ---------------------------------- MENU ---------------------------------- */

select {
    pointer-events: auto;
}

#legend {
    pointer-events: auto;
}

.form-check {
    pointer-events: auto;
}


#mask {
    pointer-events: none;
}

.fade-mask {
    pointer-events: none;
}

/* ---------------------------- BOTTOM LEFT MENU ---------------------------- */

#bottom-left-menu {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    pointer-events: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bi-aspect-ratio {
    cursor: pointer;
}

#zoom-slider {
    margin-left: 10px;

}

.bi-zoom-in {
    cursor: pointer;
}