html, body, #map {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
}

#controls {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 8px;

    background: white;
    padding: 6px;
    border-radius: 10px; 
    min-width: 220px;
}

#distance-output {
    border-radius: 10px;
}

#live-distance {
    position: fixed; 
    left: 10px; 
    bottom: 10px; 
    z-index: 9999; 
    border-radius: 10px;
    border: 1px solid black;
    background: white;
    padding: 6px;
}

#total-distance-output {
    max-height: '50vh';
    overflow: auto;
}

.distance-row .swatch {
    width: 14px;
    height: 14px;
    border-radius: 3px;
    margin-right: 8px;
    flex: 0 0 auto;
}

.distance-row {
    display: flex;
    align-items: center;
    padding: 4px 6px;
    border-top: 1px solid #eee;
}
