:root {
    --root-color: yellow;
}

/* --------------------------------- TOOLTIP -------------------------------- */

.tooltip-inner {
    font-size: xx-small;
}

.custom-tooltip {
    pointer-events: none !important;
}

/* ------------------------------ CIRCULAR TEXT ----------------------------- */

.circlePath {
    fill: none;
    pointer-events: none;
}

textPath {
    text-anchor: middle;
    stroke: white;
    stroke-width: 3;
    paint-order: stroke;
    letter-spacing: 1px;
    font-size: 15px;
    pointer-events: none;

}

/* ------------------------------- WORST LIST ------------------------------- */

.worst-list {
    text-align: left;
    font-style: italic;
    font-size: small;
    text-decoration: none;
    pointer-events: auto;
    cursor: pointer;
    margin-bottom: 1px;
}

#worst {
    display: block;

}


/* ---------------------------------- MENU ---------------------------------- */

select {
    pointer-events: auto;
    cursor: pointer;
}

.form-check {
    pointer-events: auto;
    cursor: pointer;
}

/* ------------------------------- NODE STATUS ------------------------------ */

#circle-0 {
    filter: drop-shadow(0px 0px 100px var(--root-color));
}

.pulse {
    /* opacity: 0.3; */
    animation: pulseAnim 2.5s infinite;
    pointer-events: none;
}

@keyframes pulseAnim {
    0% {
        stroke-width: 3;
        transform: scale(1);
        stroke-opacity: 0.5;
    }

    100% {
        stroke-width: 10;
        /* thicker stroke */
        transform: scale(1.01);
        stroke-opacity: 0;
    }

}
/* ------------------------------ VIEW SETTINGS ----------------------------- */

#sameSizeLabel {
    font-size: medium;
    margin-top: 0;
}

#settingModal {
    z-index: 2000;
    position: fixed;
    top: auto !important;
    bottom: 25px;
    right: 15px;
    width: 400px;
    height: auto;
    left: auto !important;
    /* stops Bootstrap centering */
    margin: 0 !important;
    /* removes auto horizontal margins */
}

#settings {
    font-size: 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: background 0.3s ease;
    margin-right: 8px;

}