html, body {
  font-family: "arial";
  font-size: 16px;
  height: 100%;
}

table {
  border-collapse:  collapse;
  width: 100%;
}

td {
  padding: 0;
  margin: 1px;
  border: solid 1px #aaaaaa;
  padding: 1px 5px;
}

td.title {
  background-color: black;
  color: #fff;
  border: solid 1px;
}

td.subtitle {
  background-color: #ccc;
  border: solid 1px #aaaaaa;
}

.prm {
  font-family: "courier";
}

.sidemenu {
  position: fixed;
  width: 200px;
}

.main {
  position: relative;
  left: 220px;
  width: calc(100% - 220px);
}

details {
  padding: 5px;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: #F00;
}

div.sidemenu {
  border-radius: 5px;
  border: solid 2px;
}

p {
  padding: 0px;
  margin: 10px;
}

li {
  padding: 5px;
  margin: 0px;
}


.cont p {
  padding: 0px;
  margin: 5px;
}

.cont ul {
  padding: 0px;
  margin: 5px 30px;
}

.cont li {
  padding: 0px;
  margin: 0px;
}

.sidemenu ul {
  padding: 0px;
  margin: 0px 5px;
}

.sidemenu li {
  list-style-type: none;
  padding: 5px 0px;
  margin: 0px;
}

.sidemenu div {
  margin: 5px 15px;
}

em {
  font-weight:bold;
}

h5 {
  margin: 5px 0px 0px 0px;
  padding: 0px
}

ol {
	list-style-type: lower-roman;
}

code {
  font-family: "courier";
  overflow:hidden;
  margin: 0px;
}

pre {
  margin: 0px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.direct {
  padding: 10px;
  margin: 0px;
  border-radius: 10px;
  border: solid 1px gray;
}

h1 {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 10px 10px;
}

h2 {
  background-color:#eee;
  padding: 5px;
}

h3 {
  margin: 1em 0 0 0;
  border-bottom: solid black 1px;
}

h4 {
  border-bottom: solid #ccc 1px;
  padding: 5px 5px;
}

figure {
  margin: 1em 0;
  padding: .5em;
  text-align: center;
  border: solid 1px silver;
  border-radius: 5px;
}

table {
  margin: 0.5em 0 1.5em 0;
  padding: .5em;
  border: solid 1px silver;
  border-radius: 5px;
}

ol.paren li  {
  list-style-type: none;
  counter-increment: cnt;
  text-indent:-1.5em;
  padding:5px;
 }

ol.paren li:before  {
  display: marker;
  content: " ["counter(cnt) "] ";
}