/* -------------------- THEME OVERRIDES -------------------- */

/* for the light theme, both primary and secondary colors should be darkish */
html[data-theme="light"] {
  --pst-color-primary: #154A72;  /* logo blue */
  --pst-color-primary-highlight: #151B72; /* purpler shade of logo blue */
  --pst-color-secondary: #81C240; /* logo green */
  --pst-color-secondary-highlight: #40C240; /* greener shade of logo green */
  --pst-color-secondary-bg: #CDDEBB; /* color secondary mixed with white, should be close to white */
  --pst-color-table-row-hover-bg: #81C240; /* logo green */
}

/* for the light theme, both primary and secondary colors should be lightish */
html[data-theme="dark"] {
  --pst-color-primary: #4A9EDE;  /* lighter shade of logo blue */
  --pst-color-primary-highlight: #15726C; /* greener shade of logo blue */
  --pst-color-secondary: #81C240; /* logo green */
  --pst-color-secondary-highlight: #C2C240; /* yellower shade of logo green */
  --pst-color-secondary-bg: #2b4115; /* color secondary mixed with black, should be close to black */
  --pst-color-table-row-hover-bg: #40611F; /* darker shade of logo green */
}

/* Make each footer item in-line so they stack horizontally instead of vertically */
.footer-item {
  display: inline-block;
}

/* Add a separating border line for all but the last item */
/*
.footer-item:not(:last-child) {
  border-right: 1px solid var(--pst-color-text-base);
  margin-right: .5em;
  padding-right: .5em;
}
*/

.footer-item ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  float: right;
}

.footer-item ul li {
  padding-right: .5em;
}

.footer-item li a.nav-link {
  color: var(--pst-color-text-muted);
}

.footer-item li a.nav-link:hover {
  color: var(--pst-color-secondary);
  text-decoration: none;
}

.navbar-brand img {
  height: 100%;
  max-width: 40vw;
  object-fit: contain;
}

/*  Remove footer icon text for small screen width and increase icons size */
@media (max-width: 760px) {
  .footer-item li a.nav-link i {
    padding-right: 0.5em;
    font-size: calc(var(--bs-body-font-size) * 1.5);
  }

  .footer-item li a.nav-link span {
    font-size: 0;
  }
}

footer.bd-footer {
  position: sticky;
  bottom: 0;
  background: var(--pst-color-on-background) !important;
}

/* Make footer non-sticky when lines start to wrap-around or there isn't enough vertical space */
@media (max-width: 520px), @media (max-height: 700px) {
  footer.bd-footer {
    position: inherit;
  }
}

@media (min-width: 960px) {
  .navbar-center-item {
    padding-right: 4em;
  }
}

.no-border {
  border: none !important;
}
