body {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  color: black;
  background-color: #E5E5E5;
  --orange: #D06350;
  --blue: #2962E2;
  --light-blue:#E9F4FB;
}
h1, h2, h3 {
  color: white;
  padding: 5px;
  font-weight: 700;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
}
h2 {
  font-size: 32px;
  background-color: var(--orange);
  margin-top: 50px;
}
h3 {
  font-size: 18px;
  line-height: 22px;
  background-color: var(--blue);
  padding: 5px;
  margin-bottom: 20px;
}
.text-center {
  text-align: center;
}
.card {
  width: 330px;
  height: 380px;
  background: #FFFFFF;
  box-shadow: 0px 2px 11px rgba(41, 98, 226, 0.15);
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.card .round {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: var(--light-blue);
  margin: auto;
  display: flex;
}
.card .round .validate{
  width: 74px;
  margin: auto;
}
.title {
  font-weight: bold;
  font-size: 18px;
}
.button {
  margin: auto;
  padding: 5px 25px;
  line-height: 50px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  border: none;
}
.blue-button {
  background-color: var(--blue);
  color: white;
}
#cancel .card {
  height: 250px;
  justify-content: center;
}
#checkout .card {
  max-width: 90%;
  width: 500px;
  padding: 30px 15px;
  margin: auto;
}
#checkout .card .description {
  margin: auto;
}
#checkout .card .button {
  padding: 15px;
}