/* ---------------------------------- TITLE --------------------------------- */

h3 {
    font-family: "Fjalla One";
    letter-spacing: 0.8px;
    font-optical-sizing: auto;
    font-style: bold;
    font-size: 20px;
    margin-top: 15px;
}

h6 {
    text-align: left;
    margin-bottom: 5;
    margin-left: 5;
    line-height: 1.2;
    font-size: 13px;
    /* font-weight: bold; */
}

#repo-name {
    font-size: 40px;
    font-family: "Fjalla One";
    font-style: bold;
    font-style: normal;
}

p {
    margin-bottom: 4px;
}

/* ---------------------------------- MENU ---------------------------------- */

.form-check-label {
    font-size: small;
    margin-top: 3px;
}

#legend {
    margin-top: 20px;
    margin-left: 2px;
    overflow: visible;
    display: block;
}

/* ---------------------------------- CARD ---------------------------------- */

#card {
    position: fixed;
    top: 50%;
    right: 10px;
    width: 330px;
    height: auto;
    max-height: 75%;
    transform: translateY(-50%);
}

#cardbody {
    overflow-y: auto;
    font-size: 13px;
}

#cardbodyZone {
    margin-top: -10px;
}

.card-header-text {
    font-size: medium;
    font-style: bold;
    letter-spacing: 2px;
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-value {
    flex: 1;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-keyname {
    flex: 0 0 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.accordion-button:not(.collapsed) {
    background-color: var(--bs-accordion-bg);
    color: var(--bs-accordion-color);

}

.accordion-button {
    padding-left: 0;
    padding-bottom: 10px;
}

#button-card-title {
    font-weight: bold;
    font-size: 16px;

}


/* --------------------------------- SEARCH --------------------------------- */

.table-responsive {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    margin-top: -15px;
    width: 213px;
}

#errorinfo {
    position: absolute;
    margin-top: -15px;
    margin-left: 2px;
    color: red;
    font-size: small;
}

#searchInput {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 190px;
}

td {
    cursor: pointer;
}

/* -------------------------------- THEME ------------------------------- */


.theme-toggle {
    font-size: 13px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: background 0.3s ease;
    margin-right: 8px;

}

.theme-toggle i {
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.theme-toggle .bi-moon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

.theme-toggle.active .bi-moon {
    opacity: 0;
    transform: rotate(180deg) scale(0);
}

.theme-toggle .bi-sun {
    opacity: 0;
    transform: rotate(-180deg) scale(0);
}

.theme-toggle.active .bi-sun {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

/* ---------------------------- BOTTOM RIGHT MENU --------------------------- */

#bottom-right-menu {
    position: absolute;
    bottom: 15px;
    right: 10px;
    z-index: 10;
    pointer-events: auto;
    display: flex;
    align-items: center;
}

#help {
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#helpModal {
    z-index: 2000;
}