QWidget {
	background: #363636;
	color: #C0C0C0;
}

QWidget:hover {
	color: #CCCCCC;
}

QPushButton {
	background: #343434;
	color:#D1D1D1;
	padding: 2px 3px;
}

QWidget:disabled, QPushButton:disabled {
	color: #707070;
}


QLineEdit {
	background: #3B3B3B;
	border: 2px solid transparent;
	padding: 2px 4px;
}

QLineEdit:focus {
	background: #27292B;
	border: 2px solid #3A7091;
	padding: 2px 4px;
}


QCheckBox::indicator {
	height: 16px;
	width: 16px;
	border-top: 2px solid #000000;
	border-left: 2px solid #2E2E2E;
	border-right: 2px solid #545454;
	border-bottom: 2px solid #636363;
}

QCheckBox::indicator:checked {
	background: qradialgradient(
		cx:0,
		cy:0,
		radius: 1.2,
		fx:0.25,
		fy:0.25,
		stop:0 #1F7BB8,
		stop:1 #195882
	);
}


QRadioButton::indicator {
	width: 12px;
	height: 12px;
	border-radius: 8px;
}

QRadioButton::indicator::unchecked {
	background: qradialgradient(
		cx:0,
		cy:0,
		radius: 1,
		stop:0 #0A131A,
		stop:1 #3D4C54
	);
	border: 2px solid #575757;
}

QRadioButton::indicator:unchecked:hover {
	background: qradialgradient(
		cx:0,
		cy:0,
		radius: 1,
		stop:0 #0E1A24,
		stop:1 #3F4F57
	);
}

QRadioButton::indicator:unchecked:pressed {
	background: qradialgradient(
		cx:0,
		cy:0,
		fx:0.3,
		fy:0.3,
		radius: 1,
		stop:0 #2182C2,
		stop:1 #134F78
	);
}

QRadioButton::indicator::checked {
	border: 2px solid #3D80AD;
	background: qradialgradient(
		cx:0,
		cy:0,
		radius: 1,
		fx:0.3,
		fy:0.3,
		stop:0 #1F7BB8,
		stop:1 #124C73
	);
}

QRadioButton::indicator:checked:pressed {
	background: #165278;
}


QScrollBar::groove {
	background: #2E2E2E;
}

QScrollBar:handle,
QScrollBar:add-line,
QScrollBar:sub-line {
	background: #484B54;
	border: 1px solid #4F4F4F;
}


QMenu {
	background: #444444;
	color: #EEE;
}

QMenu::item:selected {
	background: #4D678A;
}


QToolBar {
	border: none;
}


QDialog * {
	font-size: 13px;
}


QtListButton, #b_name, BalanceControlWidget QLabel {
	font-family: "Liberation Sans Narrow", "Nimbus Sans Narrow", "Ubuntu Condensed", "sans serif";
	font-size: 10pt;
	font-weight: bold;
	padding: 2px 4px;
	color: #999999;
}

QtListButtonMenu::item {
	font-size: 12px;
	padding: 2px 4px 2px 4px;
}


QListWidget::item {
	padding: 4px;
}

QFrame#frm_port_widget_top QLabel {
	background: #444;
	color: #E0E0E0;
	font-weight: bold;
}

QFrame#port1 #frm_port_widget_top QLabel {
	background: #6B0000;
}

QFrame#port2 #frm_port_widget_top QLabel {
	background: #0012B3;
}

QFrame#port3 #frm_port_widget_top QLabel {
	background: #005C1A;
}

QFrame#port4 #frm_port_widget_top QLabel {
	background: #5C5100;
}

QFrame#port5 #frm_port_widget_top QLabel {
	background: #5F147D;
}

QFrame#port6 #frm_port_widget_top QLabel {
	background: #005757;
}

QFrame#port7 #frm_port_widget_top QLabel {
	background: #804A00;
}

QFrame#port8 #frm_port_widget_top QLabel {
	background: #350066;
}

QFrame#port9 #frm_port_widget_top QLabel {
	background: #00635C;
}

QFrame#port10 #frm_port_widget_top QLabel {
	background: #616100;
}



#frm_volume QLabel,
#frm_wet QLabel {
	font-size: 10px;
}


#b_name {
	background: #444;
	border: 1px solid #595959;
	border-radius: 4px;
}

#b_name:checked {
	background: #472222;
	border: 1px solid #850000;
}

#b_rollup {
	height: 16px;
	margin: 1px;
}

#b_mute:checked {
	background: #297781;
}

#b_solo:checked {
	background: #B40909;
}



QFrame#frm_channels QPushButton {
	font-size: 8pt;
	font-weight: bold;
	background: #444;
	color: #888;
}

QFrame#frm_channels QPushButton:checked {
	background: #549454;
	color: #000;
}


SmallSlider, SmallBalanceControl {
	background-color: #2E2E2E;
}


SmallSlider {
	font-size: 9pt;
	border-radius: 0;
	text-align: center;
}



SmallBalanceControl {
	color: #4A4A4A;
}

SmallBalanceControl QLabel {
	font-size: 11px;
	color: #C2C2C2;
	background: transparent;
	margin: 4px;
}

SmallSlider::chunk, SmallBalanceControl #inner_bar {
	background: qlineargradient(
		x1:0,
		y1:0,
		x2:0,
		y2:1,
		stop:0 #356C8F,
		stop:0.2 #2E739E,
		stop:1 #1D4259
	);
}


LoadIndicator QLabel {
	color: #EDE7A6;
}


BalanceControlWidget {
}

BalanceControlWidget QLabel {
	font-size: 9pt;
	color: #E3E3E3;
	border-style: solid;
	border-width: 1px;
}

/*
Labels inside the BalanceControlWidget are colored to match the port of the
track that they are in, to make them easer to find. They are normally in a
"disabled" state, and only become "enabled" when hovered over and ready for
the mouse to "grab" them.
*/

QLabel#bcwidget_port_1 {
	background: rgba(107, 0, 0, 200);
	border-color: #6B0000;
}

QLabel#bcwidget_port_2 {
	background: rgba(0, 18, 179, 200);
	border-color: #0012B3;
}

QLabel#bcwidget_port_3 {
	background: rgba(0, 92, 26, 200);
	border-color: #005C1A;
}

QLabel#bcwidget_port_4 {
	background: rgba(92, 81, 0, 200);
	border-color: #5C5100;
}

QLabel#bcwidget_port_5 {
	background: rgba(95, 20, 125, 200);
	border-color: #5F147D;
}

QLabel#bcwidget_port_6 {
	background: rgba(0, 87, 87, 200);
	border-color: #005757;
}

QLabel#bcwidget_port_7 {
	background: rgba(128, 74, 0, 200);
	border-color: #804A00;
}

QLabel#bcwidget_port_8 {
	background: rgba(53, 0, 102, 200);
	border-color: #350066;
}

QLabel#bcwidget_port_9 {
	background: rgba(0, 99, 92, 200);
	border-color: #00635C;
}

QLabel#bcwidget_port_10 {
	background: rgba(97, 97, 0, 200);
	border-color: #616100;
}


QLabel#bcwidget_port_1:disabled {
	background: rgba(107, 0, 0, 160);
}

QLabel#bcwidget_port_2:disabled {
	background: rgba(0, 18, 179, 160);
}

QLabel#bcwidget_port_3:disabled {
	background: rgba(0, 92, 26, 160);
}

QLabel#bcwidget_port_4:disabled {
	background: rgba(92, 81, 0, 160);
}

QLabel#bcwidget_port_5:disabled {
	background: rgba(95, 20, 125, 160);
}

QLabel#bcwidget_port_6:disabled {
	background: rgba(0, 87, 87, 160);
}

QLabel#bcwidget_port_7:disabled {
	background: rgba(128, 74, 0, 160);
}

QLabel#bcwidget_port_8:disabled {
	background: rgba(53, 0, 102, 160);
}

QLabel#bcwidget_port_9:disabled {
	background: rgba(0, 99, 92, 160);
}

QLabel#bcwidget_port_10:disabled {
	background: rgba(97, 97, 0, 160);
}




PluginDialog, PluginDialog * {
	background: #444444;
}

PluginDialog ParameterGroup > * {
	margin: 0px 3px;
}

PluginDialog #param_category {
	font-size: 14px;
	font-weight: bold;
	background-color: #3B3B3B;
	color: #7A7A7A;
	padding: 3px 11px;
}

PluginDialog QSlider::groove {
	border-top: 1px solid #000000;
	border-left: 1px solid #2E2E2E;
	border-right: 1px solid #545454;
	border-bottom: 1px solid #636363;
}

PluginDialog QSlider {
	height: 18px;
	background: qlineargradient(
		x1:0,
		y1:0,
		x2:0,
		y2:1,
		stop:0 #444444,
		stop:0.2 #525252,
		stop:0.4 #444444,
		stop:0.85 #444444,
		stop:1 #363636
	);
	margin-right: 4px;
}

PluginDialog QSlider::groove {
	height: 4px;
}

PluginDialog QSlider::handle {
	background: qlineargradient(
		x1:0,
		y1:0,
		x2:0.1,
		y2:1,
		stop:0 #736D7A,
		stop:0.3 #8A8A87,
		stop:0.8 #5F5B63,
		stop:1 #392D45);
	width: 10px;
	margin: -7px 0;
}


#score_info_dialog #tbl,
#score_info_dialog #tbl::item {
	background: palette(window);
}


CopySFZPathsDialog QLabel {
	padding: 4px;
	background: #000;
}


/* Plugin list shown by Carla */

#PluginListDialog #lineEdit {
	font-size: 17px;
	border-width: 2px;
	background-color: #2E2E2E;
	border-color: #424242;
}

#PluginListDialog #lineEdit:focus {
	border-color: #4D678A;
}

#PluginListDialog #tableWidget {
	background-color: #262626;
	alternate-background-color: #292929;
	selection-color: #FFFFFF;
	selection-background-color: #4D678A;
}

#PluginListDialog #toolBox::tab {
	font-size: 11px;
	border-color: #474747;
	border-style: solid;
	border-width: 2px 0px 0px 2px;
}

#PluginListDialog #toolBox > QWidget {
	margin: 0px;
	padding: 0px;
}

#PluginListDialog #label {
	font-style: italic;
}


InfoDialogTab QLabel {
	margin: 1px 3px;
}

