#portal_config {

	padding-right: 0;
	padding-left: 0;

	.ui-sortable,
	.ui-draggable {
		cursor: move;
	}

	.rows {
		min-height: 15px;
	}
	.row {
		position: relative;
		margin: 1.2em 0 0.5em;
		padding: 1px;
		border: 1px solid rgb(51, 122, 183);
		border-top-width: 0.65em;
		min-height: 20px;

		> .row_id {
			position: absolute;
			top: -1.5em;
			padding: 0.2em 0.6em 0.3em;

			&.pull-left {
				left: 0.3em;
			}
			&.pull-right {
				right: 0.3em;
			}
		}
		.slot {
			float: left;
			margin: 0;
			border: 1px solid rgba(51, 122, 183, 0.6);
			border-bottom-width: 5px;
			min-height: 20px !important;

			>.header {
				margin: 1px;
				background-color: rgba(51, 122, 183, 0.6);
				color: white;

				.action {
					opacity: 0.5;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
		.portlet {
			margin: 1px;
			padding: 0;
			border: 1px solid rgba(98, 120, 128, 0.65);
			background-color: white;
			min-height: 20px !important;

			>.header {
				background-color: rgba(92, 109, 128, 0.65);
				color: white;

				.action {
					opacity: 0.5;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
	.row-highlight {
		margin: 5px 0;
		border: 1px solid #c75100;
		background-color: lighten(#c75100, 50%) !important;
		min-height: 40px;
	}

	.slots {
		min-height: 15px;
	}
	.slot-highlight {
		margin: 3px 0;
		border: 1px solid lighten(rgba(51, 122, 183, 0.6), 30%) !important;
		background-color: lighten(rgba(51, 122, 183, 0.6), 30%) !important;
		min-height: 40px;
		width: 100%;
	}

	.portlets {
		min-height: 15px;

		&-hover {
			background-color: silver;
		}
		&-active {
			background-color: silver;
		}
	}
	.portlet-highlight {
		margin: 3px 0;
		border: 1px solid lighten(rgba(92, 109, 128, 0.65), 30%) !important;
		background-color: lighten(rgba(92, 109, 128, 0.65), 30%) !important;
		min-height: 40px;
		width: calc(100% - 4px);
	}

	.wrapper-image,
	.wrapper-imagemap {
		width: 100%;

		img,
		svg {
			width: 100%;
		}
	}
	&.container {
		.slot {
			&.col-12 {
				float: left;
				width: 100% !important;
			}
			&.col-11 {
				float: left;
				width: 91.66666667% !important;
			}
			&.col-10 {
				float: left;
				width: 83.33333333% !important;
			}
			&.col-9 {
				float: left;
				width: 75% !important;
			}
			&.col-8 {
				float: left;
				width: 66.66666667% !important;
			}
			&.col-7 {
				float: left;
				width: 58.33333333% !important;
			}
			&.col-6 {
				float: left;
				width: 50% !important;
			}
			&.col-5 {
				float: left;
				width: 41.66666667% !important;
			}
			&.col-4 {
				float: left;
				width: 33.33333333% !important;
			}
			&.col-3 {
				float: left;
				width: 25% !important;
			}
			&.col-2 {
				float: left;
				width: 16.66666667% !important;
			}
			&.col-1 {
				float: left;
				width: 8.33333333% !important;
			}
			&.col-0 {
				float: left;
				width: 100% !important;
				opacity: 0.5;

				> .portlets {
					display: none;
				}
			}

			@media (max-width: 575px) {
				&.col-xs-12 {
					width: 100% !important;
				}
				&.col-xs-11 {
					width: 91.66666667% !important;
				}
				&.col-xs-10 {
					width: 83.33333333% !important;
				}
				&.col-xs-9 {
					width: 75% !important;
				}
				&.col-xs-8 {
					width: 66.66666667% !important;
				}
				&.col-xs-7 {
					width: 58.33333333% !important;
				}
				&.col-xs-6 {
					width: 50% !important;
				}
				&.col-xs-5 {
					width: 41.66666667% !important;
				}
				&.col-xs-4 {
					width: 33.33333333% !important;
				}
				&.col-xs-3 {
					width: 25% !important;
				}
				&.col-xs-2 {
					width: 16.66666667% !important;
				}
				&.col-xs-1 {
					width: 8.33333333% !important;
				}
				&.col-xs-0 {
					width: 0 !important;
				}
			}

			@media (min-width: 576px) {
				&.col-sm-12,
				&.col-md-12,
				&.col-lg-12,
				&.col-xl-12 {
					width: 100% !important;
				}
				&.col-sm-11,
				&.col-md-11,
				&.col-lg-11,
				&.col-xl-11 {
					width: 91.66666667% !important;
				}
				&.col-sm-10,
				&.col-md-10,
				&.col-lg-10,
				&.col-xl-10 {
					width: 83.33333333% !important;
				}
				&.col-sm-9,
				&.col-md-9,
				&.col-lg-9,
				&.col-xl-9 {
					width: 75% !important;
				}
				&.col-sm-8,
				&.col-md-8,
				&.col-lg-8,
				&.col-xl-8 {
					width: 66.66666667% !important;
				}
				&.col-sm-7,
				&.col-md-7,
				&.col-lg-7,
				&.col-xl-7 {
					width: 58.33333333% !important;
				}
				&.col-sm-6,
				&.col-md-6,
				&.col-lg-6,
				&.col-xl-6 {
					width: 50% !important;
				}
				&.col-sm-5,
				&.col-md-5,
				&.col-lg-5,
				&.col-xl-5 {
					width: 41.66666667% !important;
				}
				&.col-sm-4,
				&.col-md-4,
				&.col-lg-4,
				&.col-xl-4 {
					width: 33.33333333% !important;
				}
				&.col-sm-3,
				&.col-md-3,
				&.col-lg-3,
				&.col-xl-3 {
					width: 25% !important;
				}
				&.col-sm-2,
				&.col-md-2,
				&.col-lg-2,
				&.col-xl-2 {
					width: 16.66666667% !important;
				}
				&.col-sm-1,
				&.col-md-1,
				&.col-lg-1,
				&.col-xl-1 {
					width: 8.33333333% !important;
				}
				&.col-sm-0,
				&.col-md-0,
				&.col-lg-0,
				&.col-xl-0 {
					width: 0 !important;
				}
			}

			@media (min-width: 768px) {
				&.col-md-12,
				&.col-lg-12,
				&.col-xl-12 {
					width: 100% !important;
				}
				&.col-md-11,
				&.col-lg-11,
				&.col-xl-11 {
					width: 91.66666667% !important;
				}
				&.col-md-10,
				&.col-lg-10,
				&.col-xl-10 {
					width: 83.33333333% !important;
				}
				&.col-md-9,
				&.col-lg-9,
				&.col-xl-9 {
					width: 75% !important;
				}
				&.col-md-8,
				&.col-lg-8,
				&.col-xl-8 {
					width: 66.66666667% !important;
				}
				&.col-md-7,
				&.col-lg-7,
				&.col-xl-7 {
					width: 58.33333333% !important;
				}
				&.col-md-6,
				&.col-lg-6,
				&.col-xl-6 {
					width: 50% !important;
				}
				&.col-md-5,
				&.col-lg-5,
				&.col-xl-5 {
					width: 41.66666667% !important;
				}
				&.col-md-4,
				&.col-lg-4,
				&.col-xl-4 {
					width: 33.33333333% !important;
				}
				&.col-md-3,
				&.col-lg-3,
				&.col-xl-3 {
					width: 25% !important;
				}
				&.col-md-2,
				&.col-lg-2,
				&.col-xl-2 {
					width: 16.66666667% !important;
				}
				&.col-md-1,
				&.col-lg-1,
				&.col-xl-1 {
					width: 8.33333333% !important;
				}
				&.col-md-0,
				&.col-lg-0,
				&.col-xl-0 {
					width: 0 !important;
				}
			}

			@media (min-width: 992px) {
				&.col-lg-12,
				&.col-xl-12 {
					width: 100% !important;
				}
				&.col-lg-11,
				&.col-xl-11 {
					width: 91.66666667% !important;
				}
				&.col-lg-10,
				&.col-xl-10 {
					width: 83.33333333% !important;
				}
				&.col-lg-9,
				&.col-xl-9 {
					width: 75% !important;
				}
				&.col-lg-8,
				&.col-xl-8 {
					width: 66.66666667% !important;
				}
				&.col-lg-7,
				&.col-xl-7 {
					width: 58.33333333% !important;
				}
				&.col-lg-6,
				&.col-xl-6 {
					width: 50% !important;
				}
				&.col-lg-5,
				&.col-xl-5 {
					width: 41.66666667% !important;
				}
				&.col-lg-4,
				&.col-xl-4 {
					width: 33.33333333% !important;
				}
				&.col-lg-3,
				&.col-xl-3 {
					width: 25% !important;
				}
				&.col-lg-2,
				&.col-xl-2 {
					width: 16.66666667% !important;
				}
				&.col-lg-1,
				&.col-xl-1 {
					width: 8.33333333% !important;
				}
				&.col-lg-0,
				&.col-xl-0 {
					width: 0 !important;
				}
			}

			@media (min-width: 1200px) {
				&.col-xl-12 {
					width: 100% !important;
				}
				&.col-xl-11 {
					width: 91.66666667% !important;
				}
				&.col-xl-10 {
					width: 83.33333333% !important;
				}
				&.col-xl-9 {
					width: 75% !important;
				}
				&.col-xl-8 {
					width: 66.66666667% !important;
				}
				&.col-xl-7 {
					width: 58.33333333% !important;
				}
				&.col-xl-6 {
					width: 50% !important;
				}
				&.col-xl-5 {
					width: 41.66666667% !important;
				}
				&.col-xl-4 {
					width: 33.33333333% !important;
				}
				&.col-xl-3 {
					width: 25% !important;
				}
				&.col-xl-2 {
					width: 16.66666667% !important;
				}
				&.col-xl-1 {
					width: 8.33333333% !important;
				}
				&.col-xl-0 {
					width: 0 !important;
				}
			}
		}
	}
	&.container-xs {
		max-width: 575px !important;

		.slot {
			&.offset-11 {
				margin-left: 91.66666667% !important;
			}
			&.offset-10 {
				margin-left: 83.33333333% !important;
			}
			&.offset-9 {
				margin-left: 75% !important;
			}
			&.offset-8 {
				margin-left: 66.66666667% !important;
			}
			&.offset-7 {
				margin-left: 58.33333333% !important;
			}
			&.offset-6 {
				margin-left: 50% !important;
			}
			&.offset-5 {
				margin-left: 41.66666667% !important;
			}
			&.offset-4 {
				margin-left: 33.33333333% !important;
			}
			&.offset-3 {
				margin-left: 25% !important;
			}
			&.offset-2 {
				margin-left: 16.66666667% !important;
			}
			&.offset-1 {
				margin-left: 8.33333333% !important;
			}
			&.offset-0 {
				margin-left: 0 !important;
			}
		}
	}
	&.container-sm {
		width: 576px !important;

		.slot {
			&.offset-11,
			&.offset-sm-11 {
				margin-left: 91.66666667% !important;
			}
			&.offset-10,
			&.offset-sm-10 {
				margin-left: 83.33333333% !important;
			}
			&.offset-9,
			&.offset-sm-9 {
				margin-left: 75% !important;
			}
			&.offset-8,
			&.offset-sm-8 {
				margin-left: 66.66666667% !important;
			}
			&.offset-7,
			&.offset-sm-7 {
				margin-left: 58.33333333% !important;
			}
			&.offset-6,
			&.offset-sm-6 {
				margin-left: 50% !important;
			}
			&.offset-5,
			&.offset-sm-5 {
				margin-left: 41.66666667% !important;
			}
			&.offset-4,
			&.offset-sm-4 {
				margin-left: 33.33333333% !important;
			}
			&.offset-3,
			&.offset-sm-3 {
				margin-left: 25% !important;
			}
			&.offset-2,
			&.offset-sm-2 {
				margin-left: 16.66666667% !important;
			}
			&.offset-1,
			&.offset-sm-1 {
				margin-left: 8.33333333% !important;
			}
			&.offset-0,
			&.offset-sm-0 {
				margin-left: 0 !important;
			}
		}
	}
	&.container-md {
		width: 768px !important;

		.slot {
			&.offset-11,
			&.offset-sm-11,
			&.offset-md-11 {
				margin-left: 91.66666667% !important;
			}
			&.offset-10,
			&.offset-sm-10,
			&.offset-md-10 {
				margin-left: 83.33333333% !important;
			}
			&.offset-9,
			&.offset-sm-9,
			&.offset-md-9 {
				margin-left: 75% !important;
			}
			&.offset-8,
			&.offset-sm-8,
			&.offset-md-8 {
				margin-left: 66.66666667% !important;
			}
			&.offset-7,
			&.offset-sm-7,
			&.offset-md-7 {
				margin-left: 58.33333333% !important;
			}
			&.offset-6,
			&.offset-sm-6,
			&.offset-md-6 {
				margin-left: 50% !important;
			}
			&.offset-5,
			&.offset-sm-5,
			&.offset-md-5 {
				margin-left: 41.66666667% !important;
			}
			&.offset-4,
			&.offset-sm-4,
			&.offset-md-4 {
				margin-left: 33.33333333% !important;
			}
			&.offset-3,
			&.offset-sm-3,
			&.offset-md-3 {
				margin-left: 25% !important;
			}
			&.offset-2,
			&.offset-sm-2,
			&.offset-md-2 {
				margin-left: 16.66666667% !important;
			}
			&.offset-1,
			&.offset-sm-1,
			&.offset-md-1 {
				margin-left: 8.33333333% !important;
			}
			&.offset-0,
			&.offset-sm-0,
			&.offset-md-0 {
				margin-left: 0 !important;
			}
		}
	}
	&.container-lg {
      width: 992px !important;

      .slot {
        &.offset-11,
        &.offset-sm-11,
        &.offset-md-11,
        &.offset-lg-11 {
          margin-left: 91.66666667% !important;
        }

        &.offset-10,
        &.offset-sm-10,
        &.offset-md-10,
        &.offset-lg-10 {
          margin-left: 83.33333333% !important;
        }

        &.offset-9,
        &.offset-sm-9,
        &.offset-md-9,
        &.offset-lg-9 {
          margin-left: 75% !important;
        }

        &.offset-8,
        &.offset-sm-8,
        &.offset-md-8,
        &.offset-lg-8 {
          margin-left: 66.66666667% !important;
        }

        &.offset-7,
        &.offset-sm-7,
        &.offset-md-7,
        &.offset-lg-7 {
          margin-left: 58.33333333% !important;
        }

        &.offset-6,
        &.offset-sm-6,
        &.offset-md-6,
        &.offset-lg-6 {
          margin-left: 50% !important;
        }

        &.offset-5,
        &.offset-sm-5,
        &.offset-md-5,
        &.offset-lg-5 {
          margin-left: 41.66666667% !important;
        }

        &.offset-4,
        &.offset-sm-4,
        &.offset-md-4,
        &.offset-lg-4 {
          margin-left: 33.33333333% !important;
        }

        &.offset-3,
        &.offset-sm-3,
        &.offset-md-3,
        &.offset-lg-3 {
          margin-left: 25% !important;
        }

        &.offset-2,
        &.offset-sm-2,
        &.offset-md-2,
        &.offset-lg-2 {
          margin-left: 16.66666667% !important;
        }

        &.offset-1,
        &.offset-sm-1,
        &.offset-md-1,
        &.offset-lg-1 {
          margin-left: 8.33333333% !important;
        }

        &.offset-0,
        &.offset-sm-0,
        &.offset-md-0,
        &.offset-lg-0 {
          margin-left: 0 !important;
        }
      }
    }
	&.container-xl {
		width: 1200px !important;

		.slot {
			&.offset-11,
			&.offset-sm-11,
			&.offset-md-11,
			&.offset-lg-11,
			&.offset-xl-11 {
				margin-left: 91.66666667% !important;
			}
			&.offset-10,
			&.offset-sm-10,
			&.offset-md-10,
			&.offset-lg-10,
			&.offset-xl-10 {
				margin-left: 83.33333333% !important;
			}
			&.offset-9,
			&.offset-sm-9,
			&.offset-md-9,
			&.offset-lg-9,
			&.offset-xl-9 {
				margin-left: 75% !important;
			}
			&.offset-8,
			&.offset-sm-8,
			&.offset-md-8,
			&.offset-lg-8,
			&.offset-xl-8 {
				margin-left: 66.66666667% !important;
			}
			&.offset-7,
			&.offset-sm-7,
			&.offset-md-7,
			&.offset-lg-7,
			&.offset-xl-7 {
				margin-left: 58.33333333% !important;
			}
			&.offset-6,
			&.offset-sm-6,
			&.offset-md-6,
			&.offset-lg-6,
			&.offset-xl-6 {
				margin-left: 50% !important;
			}
			&.offset-5,
			&.offset-sm-5,
			&.offset-md-5,
			&.offset-lg-5,
			&.offset-xl-5 {
				margin-left: 41.66666667% !important;
			}
			&.offset-4,
			&.offset-sm-4,
			&.offset-md-4,
			&.offset-lg-4,
			&.offset-xl-4 {
				margin-left: 33.33333333% !important;
			}
			&.offset-3,
			&.offset-sm-3,
			&.offset-md-3,
			&.offset-lg-3,
			&.offset-xl-3 {
				margin-left: 25% !important;
			}
			&.offset-2,
			&.offset-sm-2,
			&.offset-md-2,
			&.offset-lg-2,
			&.offset-xl-2 {
				margin-left: 16.66666667% !important;
			}
			&.offset-1,
			&.offset-sm-1,
			&.offset-md-1,
			&.offset-lg-1,
			&.offset-xl-1 {
				margin-left: 8.33333333% !important;
			}
			&.offset-0,
			&.offset-sm-0,
			&.offset-md-0,
			&.offset-lg-0,
            &.offset-xl-0 {
				margin-left: 0 !important;
			}
		}
	}
}
