button {
    border-radius: var(--panel-br);
}

input[type="text"] {
    font-family: monospace, sans-serif;
    padding: 2px 5px;
    border-radius: 4px;
    filter: saturate(50%);
    font-weight: 700;
    font-size: 1em;

    background-color: var(--main-bg-color);
    border-color: var(--main-contrast-color);
}


.contrast-box.hoverable:hover {
    box-shadow: var(--main-contrast-color) 0 0 5px 1px inset;
}
.contrast-box-opp.hoverable:hover {
    box-shadow: var(--main-bg-color) 0 0 5px 1px inset;
}

.contrast-box {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-contrast-color);
    color: var(--main-contrast-color);
}
.contrast-box-opp {
    background-color: var(--main-contrast-color);
    border: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
}

.kwarg-panel {
    display: flex;
    flex-direction: column;
    gap: var(--std-gap);
    padding: 5px 10px;
}
.kwarg-area {
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    gap: var(--std-gap);
}
.kwarg {
    display: flex;
    flex-direction: column;
}
.kwarg > .kwarg-kvp {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 23px 2fr 3fr 23px;
}
.remove-kwarg-btn {
    border-radius: 50%;
    filter: saturate(25%);
    font-weight: 900;
    font-size: 1.0em;
}
.add-subkwarg-btn {
    border-radius: 50%;
    filter: saturate(125%);
    font-weight: 900;
    font-size: 1.0em;
}
.add-kwarg {
    width: 100%;
    font-weight: 900;
    font-size: 1em;
    text-align: center;
    border-radius: var(--panel-br);
}

.checkbox {
    accent-color: var(--main-contrast-color);
    aspect-ratio: 1 / 1;
}


.filter-options-panel {
    display: flex;
    flex-direction: column;
    gap: var(--extra-gap);
}
.discrete-filter-area {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    margin-bottom: var(--mega-gap);
}
.discrete-filter-setting {

}

.between-filter-area {
    margin-bottom: var(--mega-gap);
}
.between-filter-setting {
    
}