

#header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    height: 60px;
    padding: 0px 50px;
    border-bottom: var(--main-contrast-color) 3px solid;
    /* vertical-align: center;
    text-align: center; */

    .left {
        flex: 1 1 var(--left-column-default);
        min-width: 200px;
    }
    .right {
        height: 100%;
        flex: 10 1 75vw;
        display: flex;
        justify-content: space-between;
        .tab {
            display: flex;
            justify-content: center;
            gap: 0px;
            height: 100%;
        }
        button.tablinks {
            height: 100%;
            width: 70px;
            border-top: none;
            border-bottom: none;
        }
    }

    
}

#setting-gear-icon path {
    fill: var(--main-bg-color);
}
#setting-gear-icon {
    stroke: var(--main-contrast-color);
    stroke-width: 15px;
}