@keyframes radialprogresscancelling {
    100% {transform: rotate(-360deg);}
}

.sim-selection-sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--extra-gap);
    position: sticky;
    top: 100px;
    height: 80vh;
    min-width: 250px;
}
#sim-selection-sidebar-selections {
    /* align-self: flex-start;
    position: sticky; */
    height: 100%;
    overflow-y: scroll;
    /* flex: 1 1 var(--left-column-default); */
    display: grid;
    /* gap: var(--std-gap); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 40px;
    /* grid-auto-rows: 80px; */
    padding: 5px;
    border-radius: var(--panel-br);

    #sim-sidebar-header {
        text-align: center;
        vertical-align: center;
    }
}
/* #deselect-all-btn,
#select-all-btn {
    position: sticky;
} */
.sim-selection-box {
    user-select: none;
    justify-content: space-between;
    border: 1px var(--main-contrast-color) solid;
    border-radius: var(--panel-br);
    text-align: left;
    display: flex;
    align-items: center;
    padding: 3px 10px;
    label {
        display: flex;
        align-items: center;
        height: 100%;
        flex: 1 1 auto;
        overflow: hidden;
    }
    .interactives {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        gap: 10px;
    }
}
.sim-selection-box:hover {
    transform: scale(1.025);
}

/* .incomplete */
.radial-progress-completion {
    display: none;
}
/* .radial-meter.cancelling
.outer {
    animation: radialprogresscancelling 1s infinite;
    background: conic-gradient(from 0deg, var(--bad-color) 0%, var(--bad-color) 0% var(--prog), var(--bad-color) var(--prog), var(--bad-color) 100%);
} */
.complete.success
.radial-progress-completion.success {
    display: inline;
}
.complete.fail
.radial-progress-completion.fail {
    display: inline;
}
.cancelling
.radial-progress-completion.fail {
    display: inline;
    animation: radialprogresscancelling 1s infinite;
}

.radial-progress-completion {
    background-color: rgba(0,0,0,0);
    border: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    line-height: 100%;
    font-size: calc(1.6em);
    font-weight: 900;
}
.radial-progress-completion.success {
    color: var(--main-bg-color);
}
.radial-progress-completion.fail {
    color: var(--bad-color1);
}

.cancel-sim-button:hover {
    color: var(--bad-color1);
    background-color: rgba(0,0,0,0);
    border: none;
    box-shadow: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    line-height: 0px;
    font-size: calc(2em);
    font-weight: 900;
    transition: 0.15s;
    text-shadow: var(--main-bg-color) 0px 0px 5px;
}
.cancel-sim-button:active {
    font-size: calc(1.5em);
    transition: 0.15s;
    text-shadow: var(--main-bg-color) 0px 0px 5px;
}
.cancel-sim-button {
    color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0);
    border: none;
    line-height: 0px;
    font-size: calc(0em);
    font-weight: 900;
    transition: 0.15s;
}

.sim-selection-checkbox {
    height: 80%;
}

#sim-sidebar-buttons {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}