MetricInfoBox {
    height: auto;
}
MetricInfoBox Vertical {
    height: auto;
}
MetricInfoBox Horizontal {
    height: auto;
    width: 100%;
}
MetricInfoBox Container{
    height: auto;
}
MetricInfoBox Label{
    height: auto;
}

MetricInfoBox Collapsible{
    max-height: 30vh;
    overflow-y: auto;
}

.left {
    align: left middle;
}
.right {
    align: right middle;
}