.dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 2000;
}

.dialog-content {
  background-color: var(--fn-app-background);
  border-radius: 6px;
  box-shadow: var(--fn-primary-color) 0px 10px 38px -10px,
    var(--fn-primary-color) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  color: var(--fn-text-color-neutral);
  border: 1px solid var(--fn-primary-color);
  display: flex;
  flex-direction: column;
  z-index: 2001;
}

.default-dialog-content {
  width: 85vw;
  max-width: 85vw;
  max-height: 85vh;
}

.dialog-title {
  margin: 0;
  font-weight: 500;
  color: var(--fn-primary-color);
  font-size: var(--fn-font-size-l);
}

.dialog-title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.dialog-description {
  margin: 10px 0 20px;
  font-size: var(--fn-font-size-m);
  line-height: 1.5;
}

.dialog-children {
  margin-top: 20px;
  overflow: auto;
  flex: 1;
}

.dialog-buttons {
  display: flex;
  margin-top: 25px;
  justify-content: flex-end;
  gap: 10px;
}

.dialog-close-button {
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  background-color: inherit;
  align-items: center;
  justify-content: center;
  color: var(--fn-primary-color);
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  transition: all 150ms ease;

  &:hover {
    background-color: var(--fn-primary-color);
    color: var(--fn-app-background);
  }

  &:active {
    background-color: var(--fn-primary-color);
    color: var(--fn-text-color-neutral);
  }
}

.dialog-send-button {
  background-color: var(--fn-app-background);
  color: var(--fn-primary-color);
  border: 1px solid var(--fn-primary-color);
  border-radius: 99rem;
  padding: 10px 20px;
  cursor: pointer;
  font-size: var(--fn-font-size-m);
  transition: all 150ms ease;

  &:hover {
    background-color: var(--fn-primary-color);
    color: var(--fn-app-background);
  }

  &:active {
    background-color: var(--fn-primary-color);
    color: var(--fn-text-color-neutral);
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
