[buildout]
develop = .
versions = versions
parts = test coverage coveragereport python


[versions]
pymongo = 3.13.0
zope.interface = 5.5.2
zope.testrunner = 5.6.0


[test]
recipe = zc.recipe.testrunner
eggs = m01.fake [test, stub]


[coverage]
recipe = zc.recipe.testrunner
eggs = m01.fake [test]
defaults = ['--all', '--coverage', '../../coverage']


[coveragereport]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('parts/coverage', 'parts/coverage/report')


[python]
recipe = zc.recipe.egg
eggs = m01.fake
interpreter = python
