[bumpversion]
current_version = 0.1.14
commit = true
tag = false
message = chore: bump version to {new_version}

[bumpversion:file:Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:python/Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:python/pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
