.funcnodes-edge {
  & .react-flow__edge-path {
    stroke: var(--fn-edge-color, #7bb3ec);
    stroke-width: 2px;
  }

  &.selected {
    & .react-flow__edge-path {
      stroke: var(--fn-edge-color-selected, #11ff00) !important;
    }
  }
}
