:root {
    --lyrics-height: 13rem;
    --cover-size: calc(100vh - 3*var(--gap) - var(--lyrics-height));
}

/* SIDEBARS */

/* This is for single column layout. Two column layout is defined at the bottom of this file */

#sidebars {
    width: 100%;
    min-height: 100%;
    display: grid;
    gap: var(--gap);
    grid-template-rows: max-content; /* otherwise there is unnecessary vertical space between grid children */
}

.sidebar {
    height: min-content; /* should not take up more height than necessary in single column layout */
    align-content: center;
    justify-content: center;
}

/* START OF LEFT SIDEBAR */

/* PLAYER */

#current-track {
    font-size: 1.1em;
}

#settings-volume {
    width: 7rem;
}

/* SEEK BAR */

#seek-bar {
    height: 1.8rem;
    width: 100%;
    margin: .5rem 0;
    box-shadow: var(--controls-box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    cursor: ew-resize;
    box-sizing: border-box;

    /* positioning of text inside seek bar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem;
}

.seek-bar-time {
    font-size: 1.1rem;
    mix-blend-mode: difference;
    color: white; /* required for mix-blend-mode: difference */
}

/* QUEUE */

#box-queue .scroll {
    height: auto;
    max-height: 40rem;
}

#queue-text {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

#queue-text h3 {
    margin: 0;
}

#current-queue-size {
    width: 2.5rem; /* set a fixed width to prevent spinner jumping around */
    color: var(--text-color-secondary);
}

#queue {
    display: grid;
    align-content: flex-start;
    gap: var(--halfgap);
}

.queue-item {
    cursor: grab;
    gap: var(--gap);
    border-radius: var(--border-radius);
}

.queue-item:hover {
    background-color: var(--background-color-hover);
}

.queue-cover {
    height: 4.5rem;
    width: 4.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0; /* always remain square */
}

.queue-remove-item {
    margin-left: auto;
}

/* if client has the ability to hover over elements, hide buttons until the user hovers over a queue item */
@media (hover: hover) {
    .queue-remove-item {
        visibility: hidden;
    }

    .queue-item:hover .queue-remove-item {
        visibility: visible;
    }
}

/* END OF LEFT SIDEBAR */

/* START OF RIGHT SIDEBAR */

/* ALBUM COVERS */

#bg-image-2, #album-cover-2 {
    background-color: #222;
    transition: opacity var(--transition-duration);
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    margin: -5%;
    z-index: -1;
    filter: blur(2rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#album-cover-box {
    position: relative;
    aspect-ratio: 1/1;
}

.cover-img {
    height: 100%;
    width: 100%;
    position: absolute;
}

/* MUSIC VIDEO */

#video {
    width: 100%;
    display: block; /* otherwise video takes up a few pixels of extra space https://stackoverflow.com/a/36390497 */
}

/* LYRICS */

#lyrics-box {
    font-size: 1.3em;
    max-height: var(--lyrics-height);
    scrollbar-width: none;
}

/* END OF RIGHT SIDEBAR */

/* POPUP WINDOWS */

.full-page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    contain: strict;
    content-visibility: auto;
}

.window {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--background-color-window);
    overflow: hidden; /* prevent header from overlapping rounded corners */

    width: min(60rem, 100% - 2 * var(--gap));
    height: min(60rem, 100% - 2 * var(--gap));
    margin: var(--gap);

    /* prevent children from overflowing parent */
    display: flex;
    flex-direction: column;

    backdrop-filter: blur(2rem);

    transition: scale var(--transition-duration);
}

.lite .window {
    background-color: var(--background-color-solid);
    backdrop-filter: none;
    transition: none;
}

.window-header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window-header > * {
    display: inline;
    margin: 0;
}

.window-body {
    box-sizing: border-box;
    padding: .5rem var(--gap);
    overflow-y: auto;
}

.full-page-overlay.overlay-hidden {
    opacity: 0;
    visibility: hidden;
}

.full-page-overlay.overlay-hidden .window {
    scale: .95;
}

@media screen and (max-width: 700px) {
    .window {
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}

/* POPUP WINDOW CONTENT */

#search-query {
    width: 100%;
}

.search-result-images {
    display: flex;
    gap: var(--gap);
    overflow-x: scroll;
}

.search-result-images > div {
    flex-shrink: 0;
    cursor: pointer;
}

table tr:hover {
    background-color: var(--background-color-hover);
}

.track-list td {
    padding: var(--smallgap);
}

#editor-content .form {
    grid-template-columns: minmax(auto, 20rem) auto;
}

#editor-lyrics {
    height: 10rem;
}

#window-debug {
    backdrop-filter: none;
}

#window-debug .window {
    height: min-content;
    width: min-content;
    background: darkolivegreen;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* VISUALISER */

#visualiser {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: difference;
    transition: transform var(--transition-duration);
}

/** TRACK HTML */

.track-display-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.track-display-text a {
    color: var(--text-color-secondary);
    border-radius: var(--border-radius);
}

.track-menu-icon {
    display: none;
    height: .8rem;
    cursor: pointer;
}

.track-display-text:hover .track-menu-icon {
    display: inline-block;
}

/* For some reason, ::-webkit-slider-thumb and ::-moz-range-thumb cannot be in the same selector (comma separated), or Chrome loses styling */

input[type=range].input-volume-high::-webkit-slider-thumb {
    background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHRpdGxlPnZvbHVtZS1oaWdoPC90aXRsZT48cGF0aCBkPSJNMTQsMy4yM1Y1LjI5QzE2Ljg5LDYuMTUgMTksOC44MyAxOSwxMkMxOSwxNS4xNyAxNi44OSwxNy44NCAxNCwxOC43VjIwLjc3QzE4LDE5Ljg2IDIxLDE2LjI4IDIxLDEyQzIxLDcuNzIgMTgsNC4xNCAxNCwzLjIzTTE2LjUsMTJDMTYuNSwxMC4yMyAxNS41LDguNzEgMTQsNy45N1YxNkMxNS41LDE1LjI5IDE2LjUsMTMuNzYgMTYuNSwxMk0zLDlWMTVIN0wxMiwyMFY0TDcsOUgzWiIgLz48L3N2Zz4=") no-repeat center, var(--background-color-active);
}

input[type=range].input-volume-high::-moz-range-thumb {
    background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHRpdGxlPnZvbHVtZS1oaWdoPC90aXRsZT48cGF0aCBkPSJNMTQsMy4yM1Y1LjI5QzE2Ljg5LDYuMTUgMTksOC44MyAxOSwxMkMxOSwxNS4xNyAxNi44OSwxNy44NCAxNCwxOC43VjIwLjc3QzE4LDE5Ljg2IDIxLDE2LjI4IDIxLDEyQzIxLDcuNzIgMTgsNC4xNCAxNCwzLjIzTTE2LjUsMTJDMTYuNSwxMC4yMyAxNS41LDguNzEgMTQsNy45N1YxNkMxNS41LDE1LjI5IDE2LjUsMTMuNzYgMTYuNSwxMk0zLDlWMTVIN0wxMiwyMFY0TDcsOUgzWiIgLz48L3N2Zz4=") no-repeat center, var(--background-color-active);
}

input[type=range].input-volume-medium::-webkit-slider-thumb {
    background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHRpdGxlPnZvbHVtZS1tZWRpdW08L3RpdGxlPjxwYXRoIGQ9Ik01LDlWMTVIOUwxNCwyMFY0TDksOU0xOC41LDEyQzE4LjUsMTAuMjMgMTcuNSw4LjcxIDE2LDcuOTdWMTZDMTcuNSwxNS4yOSAxOC41LDEzLjc2IDE4LjUsMTJaIiAvPjwvc3ZnPg==") no-repeat center, var(--background-color-active);
}

input[type=range].input-volume-medium::-moz-range-thumb {
    background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHRpdGxlPnZvbHVtZS1tZWRpdW08L3RpdGxlPjxwYXRoIGQ9Ik01LDlWMTVIOUwxNCwyMFY0TDksOU0xOC41LDEyQzE4LjUsMTAuMjMgMTcuNSw4LjcxIDE2LDcuOTdWMTZDMTcuNSwxNS4yOSAxOC41LDEzLjc2IDE4LjUsMTJaIiAvPjwvc3ZnPg==") no-repeat center, var(--background-color-active);
}

input[type=range].input-volume-low::-webkit-slider-thumb {
    background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHRpdGxlPnZvbHVtZS1sb3c8L3RpdGxlPjxwYXRoIGQ9Ik03LDlWMTVIMTFMMTYsMjBWNEwxMSw5SDdaIiAvPjwvc3ZnPg==") no-repeat center, var(--background-color-active);
}

input[type=range].input-volume-low::-moz-range-thumb {
    background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHRpdGxlPnZvbHVtZS1sb3c8L3RpdGxlPjxwYXRoIGQ9Ik03LDlWMTVIMTFMMTYsMjBWNEwxMSw5SDdaIiAvPjwvc3ZnPg==") no-repeat center, var(--background-color-active);
}

/* THEATER MODE */

.theater #playlist-checkboxes,
.theater #playback-controls,
.theater #queue-buttons,
.theater .queue-remove-item,
.theater #box-queue h3,
.theater #current-queue-size,
.theater .search-lyrics-button {
    display: none;
}

.theater #current-track {
    font-size: 1.2em;
}

.theater #box-queue .scroll {
    max-height: 45vh;
}

.theater {
    cursor: none !important;
}

/* TWO COLUMN LAYOUT */

@media screen and (min-width: 951px) {
    #sidebars {
        grid-template-columns: 1fr 1fr; /* evenly sized columns */
        grid-template-rows: auto; /* take up full vertical space */
        align-items: center;
    }

    .sidebar {
        max-width: var(--cover-size);
    }

    /* queue height must be fixed in two-column mode, or buttons jump around */
    #box-queue .scroll {
        height: 35vh;
    }

    #left-sidebar {
        margin-left: auto;
    }

    #album-cover-box {
        max-height: var(--cover-size);
        max-width: var(--cover-size);
    }

    #lyrics-box {
        height: var(--lyrics-height);
        max-width: var(--cover-size);
    }
}

/* TOUCH MODE */
.touch .icon {
    --icon-size: 2.1rem;
}

.touch button,
.touch .button,
.touch input,
.touch select {
    padding: var(--halfgap);
}

.touch input[type=checkbox] {
    height: 1.4rem;
    width: 1.4rem;
}

.touch input[type=range] {
    padding: 0;
    --height: 1.7rem;
}

/* MISC */

.scroll {
    overflow-y: auto;
}

.raphson-spinner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: rotate 1.25s linear infinite;
    display: inline-block;
    margin-left: var(--gap);
    background-image: url('/static/img/raphson_small.webp');
    height: 2rem;
    width: 2rem;
}
