.sidebar-primary-item:has(.logo) {
    top:-16px !important;
    position: sticky !important;
    background-color: var(--pst-color-background) !important;
    opacity : 1.0 !important;
    z-index: 999 !important;
    width: 105% !important;    
}
