:root {
    --card-menu-top: 5px;
    --card-menu-right: 5px;
}
.card-menu {
    position: absolute;
    top: var(--card-menu-top);
        right: var(--card-menu-right);
}
.react-grid-layout {
    min-height: 50px;
}
.loader {
  width: 100%;
  height: 4.8px;
  display: block;
  position: fixed;
  top:0;
  left:0;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
  z-index: 9999;
}
.loader::after {
  content: '';
  width: 200px;
  height: 4px;
  background:#228be6;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 5s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
} 