.wms-layers{
    max-height: 500px;
    overflow-y: scroll;
}

.wms-layers ul.child-layers{
    margin-left: 25px;
}

.wms-layers div{    
    display: flex;
}

.wms-url-field .field.url_field.widget-url_input.fieldname-url{
    width: initial;
}

.wms-url-field input {
    width: 100%; 
} 

.wms-url-field button {
    margin-right: 1vw;
} 
