@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root .taipy-layout > .md-para:has(.taipy-navbar){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*overwrite defaults*/
:root {
    --container-max-width: 100%
}

h1, .h1{
    color: #478eff;
    font-size: 1.3rem;
    border-bottom: .5px #478eff solid;
}

.taipy-layout{
    display: grid;
    justify-items: center;
}

.small-text {
    font-size: 0.8rem;
}

.taipy-button.small-button {
    font-size: 0.8rem;
    text-transform: capitalize;
    padding: 8px;
    height: 24px;
}

.css-1apj9oc {
    width: 200px;
}

/*menu-lateral: elemento*/
.css-w1lhxi {
    background-color: #cadfe7;
    border: solid;
    border-width: thin;
    border-color: #d3d7d9;
}


/*menu-lateral: icones*/
.css-1n7qxo8 {
    background-color: #ffffff;
    color: #478eff;
}
.css-1rom8zt{
    min-height: 36px;
    min-width: 20px;
}

/*header-bar: elemento*/
.taipy-layout.header_container.MuiBox-root {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 98;
}
.taipy-layout.header_container.MuiBox-root.css-1we2j1x {
    align-items: center;
}


/*header-bar: botões da janela*/
.taipy-part.header_top_right_corner.MuiBox-root.css-0 {
    justify-self: right;
}


/*header-bar: logo*/
.taipy-part.header_logo.MuiBox-root.css-0 {
    justify-self: left;
}
.css-7grk6d {
    justify-self: left;
    font-family: 'Saira';
    font-size: 1.7rem;
    line-height: 2;
    font-weight: 600;
    color: var(--color-primary);
    display: inline-block;
    width: max-content;
}


/*toggle de texto: texto*/
.css-egamh0{
    background-color: #f1f1f1;
}
.css-pqgvxp{
    font-weight: 600;

}
.css-rcq2fb{
    border: 0px;
    padding: 6px 16px;
    text-transform: none;
}
.css-rcq2fb.Mui-selected{
    color: #478eff;
    background-color: #e1edff;
}
.css-rcq2fb.Mui-selected:hover{
    background-color: #cfe2ff;
}
div.MuiToggleButtonGroup-root.css-egamh0 button[aria-pressed="false"] p {
    color: gray;
}


/*toggle de texto: elem*/
div.taipy-part.header_logo.MuiBox-root.css-0 span.MuiTypography-root.MuiTypography-body1.taipy-text.css-lpnwt2{
    font-family: 'Saira';
    font-weight: 600;
    font-size: 1.45rem;
    color: #478eff;
}
.css-etkd7z {
    font-weight: bold;
}


/*border around the full page*/
html {
    border: solid;
    border-width: thin;
    border-color: #e1edff;
}


/*expandable sections: expanded*/
.css-2e6htv.Mui-expanded:last-of-type {
    background-color: rgb(202 223 231 / 25%);
}
.taipy-expandable .MuiAccordionSummary-content{
    font-size: large;
}


/*expandable sections: collapsed*/
.taipy-expandable.MuiPaper-rounded{
    background-color: rgb(202 223 231 / 25%);
}
.taipy-part.narrow_element{
    width: 90%;
    padding: 0% 0% 0% 10%;
}


/* top controls */
.taipy-layout.top_controls.MuiBox-root {
    justify-items: flex-end;
    padding-bottom: 12px;
    z-index: 99;
}
/* top controls: dropdown */
.top_controls_dropdown{
    min-width: 190px;
}
/* top controls: slider */
.css-xbsnaj.MuiSlider-valueLabelOpen {
    color: transparent;
    background-color: transparent;
}
.css-vnhwe0 {
    color: #478eff;
}
@media (pointer: coarse) {
    .css-1753x30 {
        padding: 0px;
    }
}
.taipy-slider {
    padding-top: 32px;
    padding-left: 32px;
}


/*top controls: dropdown*/
.css-11z0r10.css-11z0r10.css-11z0r10 {
    width: 11rem;
}


/*interactive header*/
.taipy-layout.interactive_header.MuiBox-root {
    align-items: center;
    justify-items: legacy;
    width: -webkit-fill-available;
}


/* buttons */
.css-1dtjr3k {
    min-height: 28px;
    min-width: 42px;
}


/* searchable selector */
.sel-user.user-search-input {
    margin-top: 18px;
    width: 40vw;
    max-width: 100%;
}
.sel-user.user-selector {
    width: 40vw;
}
/* searchable selector: selectable item */
.css-1frfrn2.Mui-selected{
    background-color: #478eff;
    color: white
}
.css-1frfrn2.Mui-selected:hover{
    background-color: rgb(71 142 255 / 75%)
}
.css-n9cvde {
    max-width: unset;
}
/* searchable selector: selectable item: text */
.MuiListItemText-primary.css-pqgvxp {
    line-height: 1.15;
    font-weight: 400;
    font-size: 0.8rem
}


/* dropdown selector */
.taipy-selector.css-qi1b3v {
    width: 20vw;
    max-width: 15rem;
}
