/*!
 * Hebill v1.0.0
 * 版权所有 / Copyright 2026-2027 ©Hebill.
 * 本作品仅限非商业用途使用，禁止商业行为。 / You may not use this work for commercial purposes.
*/
:root{
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--container-padding: 15px;
	--row-gap: 15px;
	--cell-gap: 15px;
}
.container, .container-sm, .container-md, .container-lg, .container-xl, .container-xx, .container-fd{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--container-padding, 15px);
	padding-right: var(--container-padding, 15px);
}
@media (min-width: 576px) {
	.container,.container-sm{
		max-width: 540px;
	}
	.sm\:cell-1{
		flex-basis: 8.333333%;
		max-width: 8.333333%;
	}
	.sm\:cell-2{
		flex-basis: 16.666667%;
		max-width: 16.666667%;
	}
	.sm\:cell-3{
		flex-basis: 25.000000%;
		max-width: 25.000000%;
	}
	.sm\:cell-4{
		flex-basis: 33.333333%;
		max-width: 33.333333%;
	}
	.sm\:cell-5{
		flex-basis: 41.666667%;
		max-width: 41.666667%;
	}
	.sm\:cell-6{
		flex-basis: 50.000000%;
		max-width: 50.000000%;
	}
	.sm\:cell-7{
		flex-basis: 58.333333%;
		max-width: 58.333333%;
	}
	.sm\:cell-8{
		flex-basis: 66.666667%;
		max-width: 66.666667%;
	}
	.sm\:cell-9{
		flex-basis: 75.000000%;
		max-width: 75.000000%;
	}
	.sm\:cell-10{
		flex-basis: 83.333333%;
		max-width: 83.333333%;
	}
	.sm\:cell-11{
		flex-basis: 91.666667%;
		max-width: 91.666667%;
	}
	.sm\:cell-12{
		flex-basis: 100.000000%;
		max-width: 100.000000%;
	}
	.row{
		--row-gap: 15px;
		--cell-gap: 15px;
	}
}
@media (min-width: 768px) {
	.container,.container-sm,.container-md{
		max-width: 720px;
	}
	.md\:cell-1{
		flex-basis: 8.333333%;
		max-width: 8.333333%;
	}
	.md\:cell-2{
		flex-basis: 16.666667%;
		max-width: 16.666667%;
	}
	.md\:cell-3{
		flex-basis: 25.000000%;
		max-width: 25.000000%;
	}
	.md\:cell-4{
		flex-basis: 33.333333%;
		max-width: 33.333333%;
	}
	.md\:cell-5{
		flex-basis: 41.666667%;
		max-width: 41.666667%;
	}
	.md\:cell-6{
		flex-basis: 50.000000%;
		max-width: 50.000000%;
	}
	.md\:cell-7{
		flex-basis: 58.333333%;
		max-width: 58.333333%;
	}
	.md\:cell-8{
		flex-basis: 66.666667%;
		max-width: 66.666667%;
	}
	.md\:cell-9{
		flex-basis: 75.000000%;
		max-width: 75.000000%;
	}
	.md\:cell-10{
		flex-basis: 83.333333%;
		max-width: 83.333333%;
	}
	.md\:cell-11{
		flex-basis: 91.666667%;
		max-width: 91.666667%;
	}
	.md\:cell-12{
		flex-basis: 100.000000%;
		max-width: 100.000000%;
	}
	.row{
		--row-gap: 15px;
		--cell-gap: 15px;
	}
}
@media (min-width: 992px) {
	.container,.container-sm,.container-md,.container-lg{
		max-width: 960px;
	}
	.lg\:cell-1{
		flex-basis: 8.333333%;
		max-width: 8.333333%;
	}
	.lg\:cell-2{
		flex-basis: 16.666667%;
		max-width: 16.666667%;
	}
	.lg\:cell-3{
		flex-basis: 25.000000%;
		max-width: 25.000000%;
	}
	.lg\:cell-4{
		flex-basis: 33.333333%;
		max-width: 33.333333%;
	}
	.lg\:cell-5{
		flex-basis: 41.666667%;
		max-width: 41.666667%;
	}
	.lg\:cell-6{
		flex-basis: 50.000000%;
		max-width: 50.000000%;
	}
	.lg\:cell-7{
		flex-basis: 58.333333%;
		max-width: 58.333333%;
	}
	.lg\:cell-8{
		flex-basis: 66.666667%;
		max-width: 66.666667%;
	}
	.lg\:cell-9{
		flex-basis: 75.000000%;
		max-width: 75.000000%;
	}
	.lg\:cell-10{
		flex-basis: 83.333333%;
		max-width: 83.333333%;
	}
	.lg\:cell-11{
		flex-basis: 91.666667%;
		max-width: 91.666667%;
	}
	.lg\:cell-12{
		flex-basis: 100.000000%;
		max-width: 100.000000%;
	}
	.row{
		--row-gap: 15px;
		--cell-gap: 15px;
	}
}
@media (min-width: 1200px) {
	.container,.container-sm,.container-md,.container-lg,.container-xl{
		max-width: 1140px;
	}
	.xl\:cell-1{
		flex-basis: 8.333333%;
		max-width: 8.333333%;
	}
	.xl\:cell-2{
		flex-basis: 16.666667%;
		max-width: 16.666667%;
	}
	.xl\:cell-3{
		flex-basis: 25.000000%;
		max-width: 25.000000%;
	}
	.xl\:cell-4{
		flex-basis: 33.333333%;
		max-width: 33.333333%;
	}
	.xl\:cell-5{
		flex-basis: 41.666667%;
		max-width: 41.666667%;
	}
	.xl\:cell-6{
		flex-basis: 50.000000%;
		max-width: 50.000000%;
	}
	.xl\:cell-7{
		flex-basis: 58.333333%;
		max-width: 58.333333%;
	}
	.xl\:cell-8{
		flex-basis: 66.666667%;
		max-width: 66.666667%;
	}
	.xl\:cell-9{
		flex-basis: 75.000000%;
		max-width: 75.000000%;
	}
	.xl\:cell-10{
		flex-basis: 83.333333%;
		max-width: 83.333333%;
	}
	.xl\:cell-11{
		flex-basis: 91.666667%;
		max-width: 91.666667%;
	}
	.xl\:cell-12{
		flex-basis: 100.000000%;
		max-width: 100.000000%;
	}
	.row{
		--row-gap: 15px;
		--cell-gap: 15px;
	}
}
@media (min-width: 1440px) {
	.container,.container-sm,.container-md,.container-lg,.container-xl,.container-xx{
		max-width: 1408px;
	}
	.xx\:cell-1{
		flex-basis: 8.333333%;
		max-width: 8.333333%;
	}
	.xx\:cell-2{
		flex-basis: 16.666667%;
		max-width: 16.666667%;
	}
	.xx\:cell-3{
		flex-basis: 25.000000%;
		max-width: 25.000000%;
	}
	.xx\:cell-4{
		flex-basis: 33.333333%;
		max-width: 33.333333%;
	}
	.xx\:cell-5{
		flex-basis: 41.666667%;
		max-width: 41.666667%;
	}
	.xx\:cell-6{
		flex-basis: 50.000000%;
		max-width: 50.000000%;
	}
	.xx\:cell-7{
		flex-basis: 58.333333%;
		max-width: 58.333333%;
	}
	.xx\:cell-8{
		flex-basis: 66.666667%;
		max-width: 66.666667%;
	}
	.xx\:cell-9{
		flex-basis: 75.000000%;
		max-width: 75.000000%;
	}
	.xx\:cell-10{
		flex-basis: 83.333333%;
		max-width: 83.333333%;
	}
	.xx\:cell-11{
		flex-basis: 91.666667%;
		max-width: 91.666667%;
	}
	.xx\:cell-12{
		flex-basis: 100.000000%;
		max-width: 100.000000%;
	}
	.row{
		--row-gap: 15px;
		--cell-gap: 15px;
	}
}
.container-fd{
	max-width: 100%;
}
.grid{
	width: 100%;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1 * var(--cell-gap));
	margin-right: calc(-1 * var(--cell-gap));
	row-gap: var(--row-gap);
}
.cell{
	padding-left: var(--cell-gap);
	padding-right: var(--cell-gap);
	box-sizing: border-box;
	flex: 0 0 auto;
}
.cell-1{
	flex-basis: 8.333333%;
	max-width: 8.333333%;
}
.cell-2{
	flex-basis: 16.666667%;
	max-width: 16.666667%;
}
.cell-3{
	flex-basis: 25.000000%;
	max-width: 25.000000%;
}
.cell-4{
	flex-basis: 33.333333%;
	max-width: 33.333333%;
}
.cell-5{
	flex-basis: 41.666667%;
	max-width: 41.666667%;
}
.cell-6{
	flex-basis: 50.000000%;
	max-width: 50.000000%;
}
.cell-7{
	flex-basis: 58.333333%;
	max-width: 58.333333%;
}
.cell-8{
	flex-basis: 66.666667%;
	max-width: 66.666667%;
}
.cell-9{
	flex-basis: 75.000000%;
	max-width: 75.000000%;
}
.cell-10{
	flex-basis: 83.333333%;
	max-width: 83.333333%;
}
.cell-11{
	flex-basis: 91.666667%;
	max-width: 91.666667%;
}
.cell-12{
	flex-basis: 100.000000%;
	max-width: 100.000000%;
}