[buildout]
extends = https://raw.githubusercontent.com/IMIO/buildout.pm/refs/heads/master/communes-dev.cfg

extensions =
#    buildout.environ
    mr.developer

develop = .

#auto-checkout =
#     Products.PloneMeeting

parts =
    testmc
    testhainaut
    code-analysis

[sources]
#Products.PloneMeeting = git ${remotes:imio}/Products.PloneMeeting.git pushurl=${remotes:imio_push}/Products.PloneMeeting.git branch=${__environ__:PM_BRANCH_NAME}

[versions]
#buildout.environ = 1.2.0

[testmc]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress', '-s', 'Products.MeetingCommunes']
eggs =
    ${test:eggs}
    Products.MeetingCommunes [test]
environment = testenv

[testhainaut]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress', '-s', 'Products.MeetingPROVHainaut']
eggs =
    ${test:eggs}
    Products.MeetingPROVHainaut [test]
environment = testenv
