#home {
    display: grid;
    gap: var(--gap);
}

#buttons {
    display: grid;
}

.button {
    max-width: 30rem;
}

.icon-text-button {
    padding: var(--halfgap);
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    gap: var(--halfgap);
    box-shadow: var(--controls-box-shadow), var(--box-shadow);
    transition: background-color .05s;
    box-sizing: border-box;
}

.icon-text-button:hover {
    text-decoration: none;
}

@media screen and (min-width: 50rem) {
    #home {
        grid-template-columns: 1fr 1fr;
    }
}

#buttons a:not(:last-child) {
    margin-bottom: var(--halfgap);
}

#version {
    margin-top: var(--gap);
}
