:root {
    font-size: 1.2em;
}

.page-heading {
    display: none;
}

.flex-hcenter {
    height: 100%;
}

.raphson {
    background: url("/static/img/raphson_small.webp") no-repeat center / cover;
    width: 100%;
    aspect-ratio: 1;
}

.login-box {
    height: 100%;
    display: grid;
    gap: var(--gap);
    justify-content: center;
    justify-items: center;
    align-content: center;
}

#webauthn-login {
    width: 100%;
}

.invalid-password {
    color: #ff3030;
}
