main {
    max-width: 50rem;
}

h2 {
    text-align: center;
}

.image-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    align-items: center;
}

.image-row > * {
    max-width: 50vh;
    aspect-ratio: 1 / 1;
}

.image-row:first-child {
    justify-self: right;
}

.image-row:last-child {
    justify-self: left;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    display: block;
    width: 100%;
}

.large {
    font-size: 1.3rem;
}

section {
    margin-bottom: var(--gap);
}

.marquee {
    display: flex ;
    overflow: hidden ;
    white-space: nowrap;
}

.marquee > * {
    animation-iteration-count: infinite;
    animation-name: marquee-content;
    animation-timing-function: linear;
}

.marquee > * > * {
    padding-right: var(--gap);
}

@keyframes marquee-content {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
