.chart {
    width: 100%;
    height: 32rem;
    margin-bottom: var(--gap);
    text-align: center;
    line-height: 30rem; /* vertically align text */
}

#buttons {
    position: sticky;
    top: var(--gap);
    padding: var(--gap) 0;
    z-index: 1;
    gap: var(--smallgap);
    transition: background-color var(--transition-duration), padding var(--transition-duration), margin var(--transition-duration);
}

#buttons.background {
    background: var(--background-color);
    backdrop-filter: blur(1rem);
    padding: var(--gap);
    border-radius: var(--border-radius);
    margin: 0 var(--gap);
}

.box {
    box-sizing: border-box;
}
