*:not(code):not(pre):not(td):not(th) {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-family-monospace: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}
h1, h2, h3 {
border-bottom: 1px solid #eee;
padding-bottom: 10px;
}
form { margin:0; padding:0;}
h4 {
margin-bottom: 0px;
}
table {
border-collapse: collapse;
}
table, th, td {
border: 1px solid #aaa;
font-size:0.8rem;
padding:1px 4px;
font-family: monospace;
white-space: nowrap;
}

fieldset {
border-radius: 5px;
color:#999999;
font-size:0.9rem;
border: 1px #999999 solid;
}

#section_parameters {
border-style: inset;

border-width: 1px;
padding:15px;

background-color: #fafafa;
}

th {
background-color:#eee;color:#333;
}
.number {
text-align: right;
}
.center {
text-align: center;
}
a, a:link, a:visited, a:hover, a:active { color: #666; }
.muted { font-size: 0.9rem; color:#999; }
.footer {text-align: center;  padding:40px;}

.img_reader {
max-width: 600px;
max-height: 400px;
}

.tabs {
  display: table;
  width: 100%;
}
.tabs .tab, .tabs .tabend {
  display: table-cell;
  border: 1px solid transparent;
  border-bottom: 1px solid #ccc;
}
.tabs .tab {
  width: 1px;
  padding:10px 15px;
  border-radius: 8px 8px 0 0;
  margin-left: 10px;
  color: #777;
}
.tabs .tab:hover {
  background-color: #eee;
  cursor: pointer;
}
.tabs .tab.active {
  border: 1px solid #ccc;
  border-bottom: 1px solid transparent;
  color: inherit;
}
/* tailwind like */
button {border: 0;user-select: none; /* Standard syntax */ cursor: pointer;}

.text-white { color: rgb(255 255 255); }

.text-xs { font-size: .75rem; line-height: 1rem; }

.py-1 { padding-bottom: .25rem; padding-top: .25rem; }
.py-2 { padding-bottom: .5rem;  padding-top: .5rem; }
.py-3 { padding-bottom: .75rem; padding-top: .75rem; }

.px-1 { padding-left: .25rem; padding-right: .25rem; }
.px-2 { padding-left: .5rem;  padding-right: .5rem; }
.px-3 { padding-left: .75rem; padding-right: .75rem; }

.mx-1 { margin-left: 0.25rem; margin-right: 0.25rem; }
.my-1	{ margin-top: 0.25rem; margin-bottom: 0.25rem; }

.m-1 { margin: .25rem; }
.m-2 { margin: .5rem; }
.m-3 { margin: .5rem; }
.m-4 { margin: 1rem; }

.rounded-lg { border-radius: .5rem; }

.bg-blue-700  { background-color: rgb(26 86 219); }
.bg-slate-400	{ background-color: rgb(148 163 184); }
.bg-slate-500	{ background-color: rgb(100 116 139); }
.bg-slate-600 { background-color: rgb(71 85 105); }

.hover\:bg-blue-800:hover { background-color: rgb(30 66 159); }


.shadow-sm	  { box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05); }
.shadow	      { box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); }
.shadow-md	  { box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); }
.shadow-lg	  { box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); }
.shadow-xl	  { box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); }
.shadow-2xl	  { box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); }
.shadow-inner	{ box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05); }
.shadow-none	{ box-shadow: 0 0 #0000; }

