[python: **/**.py]
encoding = utf-8
keywords = _ gettext ngettext:1,2,3 t tn:1,2,3

[jinja2: **/templates/**.html]
encoding = utf-8
extensions = jinja2.ext.i18n
keywords = _ gettext ngettext:1,2,3 t tn:1,2,3

[javascript: **/static/js/**.js]
encoding = utf-8
keywords = _ _n:1,2,3