#portal_config {
  padding-right: 0;
  padding-left: 0; }
  #portal_config .ui-sortable,
  #portal_config .ui-draggable {
    cursor: move; }
  #portal_config .rows {
    min-height: 15px; }
  #portal_config .row {
    position: relative;
    margin: 1.2em 0 0.5em;
    padding: 1px;
    border: 1px solid #337ab7;
    border-top-width: 0.65em;
    min-height: 20px; }
    #portal_config .row > .row_id {
      position: absolute;
      top: -1.5em;
      padding: 0.2em 0.6em 0.3em; }
      #portal_config .row > .row_id.pull-left {
        left: 0.3em; }
      #portal_config .row > .row_id.pull-right {
        right: 0.3em; }
    #portal_config .row .slot {
      float: left;
      margin: 0;
      border: 1px solid rgba(51, 122, 183, 0.6);
      border-bottom-width: 5px;
      min-height: 20px !important; }
      #portal_config .row .slot > .header {
        margin: 1px;
        background-color: rgba(51, 122, 183, 0.6);
        color: white; }
        #portal_config .row .slot > .header .action {
          opacity: 0.5; }
          #portal_config .row .slot > .header .action:hover {
            opacity: 1; }
    #portal_config .row .portlet {
      margin: 1px;
      padding: 0;
      border: 1px solid rgba(98, 120, 128, 0.65);
      background-color: white;
      min-height: 20px !important; }
      #portal_config .row .portlet > .header {
        background-color: rgba(92, 109, 128, 0.65);
        color: white; }
        #portal_config .row .portlet > .header .action {
          opacity: 0.5; }
          #portal_config .row .portlet > .header .action:hover {
            opacity: 1; }
  #portal_config .row-highlight {
    margin: 5px 0;
    border: 1px solid #c75100;
    background-color: #ffdec7 !important;
    min-height: 40px; }
  #portal_config .slots {
    min-height: 15px; }
  #portal_config .slot-highlight {
    margin: 3px 0;
    border: 1px solid rgba(159, 196, 228, 0.6) !important;
    background-color: rgba(159, 196, 228, 0.6) !important;
    min-height: 40px;
    width: 100%; }
  #portal_config .portlets {
    min-height: 15px; }
    #portal_config .portlets-hover {
      background-color: silver; }
    #portal_config .portlets-active {
      background-color: silver; }
  #portal_config .portlet-highlight {
    margin: 3px 0;
    border: 1px solid rgba(175, 186, 198, 0.65) !important;
    background-color: rgba(175, 186, 198, 0.65) !important;
    min-height: 40px;
    width: calc(100% - 4px); }
  #portal_config .wrapper-image,
  #portal_config .wrapper-imagemap {
    width: 100%; }
    #portal_config .wrapper-image img,
    #portal_config .wrapper-image svg,
    #portal_config .wrapper-imagemap img,
    #portal_config .wrapper-imagemap svg {
      width: 100%; }
  #portal_config.container .slot.col-12 {
    float: left;
    width: 100% !important; }
  #portal_config.container .slot.col-11 {
    float: left;
    width: 91.66666667% !important; }
  #portal_config.container .slot.col-10 {
    float: left;
    width: 83.33333333% !important; }
  #portal_config.container .slot.col-9 {
    float: left;
    width: 75% !important; }
  #portal_config.container .slot.col-8 {
    float: left;
    width: 66.66666667% !important; }
  #portal_config.container .slot.col-7 {
    float: left;
    width: 58.33333333% !important; }
  #portal_config.container .slot.col-6 {
    float: left;
    width: 50% !important; }
  #portal_config.container .slot.col-5 {
    float: left;
    width: 41.66666667% !important; }
  #portal_config.container .slot.col-4 {
    float: left;
    width: 33.33333333% !important; }
  #portal_config.container .slot.col-3 {
    float: left;
    width: 25% !important; }
  #portal_config.container .slot.col-2 {
    float: left;
    width: 16.66666667% !important; }
  #portal_config.container .slot.col-1 {
    float: left;
    width: 8.33333333% !important; }
  #portal_config.container .slot.col-0 {
    float: left;
    width: 100% !important;
    opacity: 0.5; }
    #portal_config.container .slot.col-0 > .portlets {
      display: none; }
  @media (max-width: 575px) {
    #portal_config.container .slot.col-xs-12 {
      width: 100% !important; }
    #portal_config.container .slot.col-xs-11 {
      width: 91.66666667% !important; }
    #portal_config.container .slot.col-xs-10 {
      width: 83.33333333% !important; }
    #portal_config.container .slot.col-xs-9 {
      width: 75% !important; }
    #portal_config.container .slot.col-xs-8 {
      width: 66.66666667% !important; }
    #portal_config.container .slot.col-xs-7 {
      width: 58.33333333% !important; }
    #portal_config.container .slot.col-xs-6 {
      width: 50% !important; }
    #portal_config.container .slot.col-xs-5 {
      width: 41.66666667% !important; }
    #portal_config.container .slot.col-xs-4 {
      width: 33.33333333% !important; }
    #portal_config.container .slot.col-xs-3 {
      width: 25% !important; }
    #portal_config.container .slot.col-xs-2 {
      width: 16.66666667% !important; }
    #portal_config.container .slot.col-xs-1 {
      width: 8.33333333% !important; }
    #portal_config.container .slot.col-xs-0 {
      width: 0 !important; } }
  @media (min-width: 576px) {
    #portal_config.container .slot.col-sm-12, #portal_config.container .slot.col-md-12, #portal_config.container .slot.col-lg-12, #portal_config.container .slot.col-xl-12 {
      width: 100% !important; }
    #portal_config.container .slot.col-sm-11, #portal_config.container .slot.col-md-11, #portal_config.container .slot.col-lg-11, #portal_config.container .slot.col-xl-11 {
      width: 91.66666667% !important; }
    #portal_config.container .slot.col-sm-10, #portal_config.container .slot.col-md-10, #portal_config.container .slot.col-lg-10, #portal_config.container .slot.col-xl-10 {
      width: 83.33333333% !important; }
    #portal_config.container .slot.col-sm-9, #portal_config.container .slot.col-md-9, #portal_config.container .slot.col-lg-9, #portal_config.container .slot.col-xl-9 {
      width: 75% !important; }
    #portal_config.container .slot.col-sm-8, #portal_config.container .slot.col-md-8, #portal_config.container .slot.col-lg-8, #portal_config.container .slot.col-xl-8 {
      width: 66.66666667% !important; }
    #portal_config.container .slot.col-sm-7, #portal_config.container .slot.col-md-7, #portal_config.container .slot.col-lg-7, #portal_config.container .slot.col-xl-7 {
      width: 58.33333333% !important; }
    #portal_config.container .slot.col-sm-6, #portal_config.container .slot.col-md-6, #portal_config.container .slot.col-lg-6, #portal_config.container .slot.col-xl-6 {
      width: 50% !important; }
    #portal_config.container .slot.col-sm-5, #portal_config.container .slot.col-md-5, #portal_config.container .slot.col-lg-5, #portal_config.container .slot.col-xl-5 {
      width: 41.66666667% !important; }
    #portal_config.container .slot.col-sm-4, #portal_config.container .slot.col-md-4, #portal_config.container .slot.col-lg-4, #portal_config.container .slot.col-xl-4 {
      width: 33.33333333% !important; }
    #portal_config.container .slot.col-sm-3, #portal_config.container .slot.col-md-3, #portal_config.container .slot.col-lg-3, #portal_config.container .slot.col-xl-3 {
      width: 25% !important; }
    #portal_config.container .slot.col-sm-2, #portal_config.container .slot.col-md-2, #portal_config.container .slot.col-lg-2, #portal_config.container .slot.col-xl-2 {
      width: 16.66666667% !important; }
    #portal_config.container .slot.col-sm-1, #portal_config.container .slot.col-md-1, #portal_config.container .slot.col-lg-1, #portal_config.container .slot.col-xl-1 {
      width: 8.33333333% !important; }
    #portal_config.container .slot.col-sm-0, #portal_config.container .slot.col-md-0, #portal_config.container .slot.col-lg-0, #portal_config.container .slot.col-xl-0 {
      width: 0 !important; } }
  @media (min-width: 768px) {
    #portal_config.container .slot.col-md-12, #portal_config.container .slot.col-lg-12, #portal_config.container .slot.col-xl-12 {
      width: 100% !important; }
    #portal_config.container .slot.col-md-11, #portal_config.container .slot.col-lg-11, #portal_config.container .slot.col-xl-11 {
      width: 91.66666667% !important; }
    #portal_config.container .slot.col-md-10, #portal_config.container .slot.col-lg-10, #portal_config.container .slot.col-xl-10 {
      width: 83.33333333% !important; }
    #portal_config.container .slot.col-md-9, #portal_config.container .slot.col-lg-9, #portal_config.container .slot.col-xl-9 {
      width: 75% !important; }
    #portal_config.container .slot.col-md-8, #portal_config.container .slot.col-lg-8, #portal_config.container .slot.col-xl-8 {
      width: 66.66666667% !important; }
    #portal_config.container .slot.col-md-7, #portal_config.container .slot.col-lg-7, #portal_config.container .slot.col-xl-7 {
      width: 58.33333333% !important; }
    #portal_config.container .slot.col-md-6, #portal_config.container .slot.col-lg-6, #portal_config.container .slot.col-xl-6 {
      width: 50% !important; }
    #portal_config.container .slot.col-md-5, #portal_config.container .slot.col-lg-5, #portal_config.container .slot.col-xl-5 {
      width: 41.66666667% !important; }
    #portal_config.container .slot.col-md-4, #portal_config.container .slot.col-lg-4, #portal_config.container .slot.col-xl-4 {
      width: 33.33333333% !important; }
    #portal_config.container .slot.col-md-3, #portal_config.container .slot.col-lg-3, #portal_config.container .slot.col-xl-3 {
      width: 25% !important; }
    #portal_config.container .slot.col-md-2, #portal_config.container .slot.col-lg-2, #portal_config.container .slot.col-xl-2 {
      width: 16.66666667% !important; }
    #portal_config.container .slot.col-md-1, #portal_config.container .slot.col-lg-1, #portal_config.container .slot.col-xl-1 {
      width: 8.33333333% !important; }
    #portal_config.container .slot.col-md-0, #portal_config.container .slot.col-lg-0, #portal_config.container .slot.col-xl-0 {
      width: 0 !important; } }
  @media (min-width: 992px) {
    #portal_config.container .slot.col-lg-12, #portal_config.container .slot.col-xl-12 {
      width: 100% !important; }
    #portal_config.container .slot.col-lg-11, #portal_config.container .slot.col-xl-11 {
      width: 91.66666667% !important; }
    #portal_config.container .slot.col-lg-10, #portal_config.container .slot.col-xl-10 {
      width: 83.33333333% !important; }
    #portal_config.container .slot.col-lg-9, #portal_config.container .slot.col-xl-9 {
      width: 75% !important; }
    #portal_config.container .slot.col-lg-8, #portal_config.container .slot.col-xl-8 {
      width: 66.66666667% !important; }
    #portal_config.container .slot.col-lg-7, #portal_config.container .slot.col-xl-7 {
      width: 58.33333333% !important; }
    #portal_config.container .slot.col-lg-6, #portal_config.container .slot.col-xl-6 {
      width: 50% !important; }
    #portal_config.container .slot.col-lg-5, #portal_config.container .slot.col-xl-5 {
      width: 41.66666667% !important; }
    #portal_config.container .slot.col-lg-4, #portal_config.container .slot.col-xl-4 {
      width: 33.33333333% !important; }
    #portal_config.container .slot.col-lg-3, #portal_config.container .slot.col-xl-3 {
      width: 25% !important; }
    #portal_config.container .slot.col-lg-2, #portal_config.container .slot.col-xl-2 {
      width: 16.66666667% !important; }
    #portal_config.container .slot.col-lg-1, #portal_config.container .slot.col-xl-1 {
      width: 8.33333333% !important; }
    #portal_config.container .slot.col-lg-0, #portal_config.container .slot.col-xl-0 {
      width: 0 !important; } }
  @media (min-width: 1200px) {
    #portal_config.container .slot.col-xl-12 {
      width: 100% !important; }
    #portal_config.container .slot.col-xl-11 {
      width: 91.66666667% !important; }
    #portal_config.container .slot.col-xl-10 {
      width: 83.33333333% !important; }
    #portal_config.container .slot.col-xl-9 {
      width: 75% !important; }
    #portal_config.container .slot.col-xl-8 {
      width: 66.66666667% !important; }
    #portal_config.container .slot.col-xl-7 {
      width: 58.33333333% !important; }
    #portal_config.container .slot.col-xl-6 {
      width: 50% !important; }
    #portal_config.container .slot.col-xl-5 {
      width: 41.66666667% !important; }
    #portal_config.container .slot.col-xl-4 {
      width: 33.33333333% !important; }
    #portal_config.container .slot.col-xl-3 {
      width: 25% !important; }
    #portal_config.container .slot.col-xl-2 {
      width: 16.66666667% !important; }
    #portal_config.container .slot.col-xl-1 {
      width: 8.33333333% !important; }
    #portal_config.container .slot.col-xl-0 {
      width: 0 !important; } }
  #portal_config.container-xs {
    max-width: 575px !important; }
    #portal_config.container-xs .slot.offset-11 {
      margin-left: 91.66666667% !important; }
    #portal_config.container-xs .slot.offset-10 {
      margin-left: 83.33333333% !important; }
    #portal_config.container-xs .slot.offset-9 {
      margin-left: 75% !important; }
    #portal_config.container-xs .slot.offset-8 {
      margin-left: 66.66666667% !important; }
    #portal_config.container-xs .slot.offset-7 {
      margin-left: 58.33333333% !important; }
    #portal_config.container-xs .slot.offset-6 {
      margin-left: 50% !important; }
    #portal_config.container-xs .slot.offset-5 {
      margin-left: 41.66666667% !important; }
    #portal_config.container-xs .slot.offset-4 {
      margin-left: 33.33333333% !important; }
    #portal_config.container-xs .slot.offset-3 {
      margin-left: 25% !important; }
    #portal_config.container-xs .slot.offset-2 {
      margin-left: 16.66666667% !important; }
    #portal_config.container-xs .slot.offset-1 {
      margin-left: 8.33333333% !important; }
    #portal_config.container-xs .slot.offset-0 {
      margin-left: 0 !important; }
  #portal_config.container-sm {
    width: 576px !important; }
    #portal_config.container-sm .slot.offset-11, #portal_config.container-sm .slot.offset-sm-11 {
      margin-left: 91.66666667% !important; }
    #portal_config.container-sm .slot.offset-10, #portal_config.container-sm .slot.offset-sm-10 {
      margin-left: 83.33333333% !important; }
    #portal_config.container-sm .slot.offset-9, #portal_config.container-sm .slot.offset-sm-9 {
      margin-left: 75% !important; }
    #portal_config.container-sm .slot.offset-8, #portal_config.container-sm .slot.offset-sm-8 {
      margin-left: 66.66666667% !important; }
    #portal_config.container-sm .slot.offset-7, #portal_config.container-sm .slot.offset-sm-7 {
      margin-left: 58.33333333% !important; }
    #portal_config.container-sm .slot.offset-6, #portal_config.container-sm .slot.offset-sm-6 {
      margin-left: 50% !important; }
    #portal_config.container-sm .slot.offset-5, #portal_config.container-sm .slot.offset-sm-5 {
      margin-left: 41.66666667% !important; }
    #portal_config.container-sm .slot.offset-4, #portal_config.container-sm .slot.offset-sm-4 {
      margin-left: 33.33333333% !important; }
    #portal_config.container-sm .slot.offset-3, #portal_config.container-sm .slot.offset-sm-3 {
      margin-left: 25% !important; }
    #portal_config.container-sm .slot.offset-2, #portal_config.container-sm .slot.offset-sm-2 {
      margin-left: 16.66666667% !important; }
    #portal_config.container-sm .slot.offset-1, #portal_config.container-sm .slot.offset-sm-1 {
      margin-left: 8.33333333% !important; }
    #portal_config.container-sm .slot.offset-0, #portal_config.container-sm .slot.offset-sm-0 {
      margin-left: 0 !important; }
  #portal_config.container-md {
    width: 768px !important; }
    #portal_config.container-md .slot.offset-11, #portal_config.container-md .slot.offset-sm-11, #portal_config.container-md .slot.offset-md-11 {
      margin-left: 91.66666667% !important; }
    #portal_config.container-md .slot.offset-10, #portal_config.container-md .slot.offset-sm-10, #portal_config.container-md .slot.offset-md-10 {
      margin-left: 83.33333333% !important; }
    #portal_config.container-md .slot.offset-9, #portal_config.container-md .slot.offset-sm-9, #portal_config.container-md .slot.offset-md-9 {
      margin-left: 75% !important; }
    #portal_config.container-md .slot.offset-8, #portal_config.container-md .slot.offset-sm-8, #portal_config.container-md .slot.offset-md-8 {
      margin-left: 66.66666667% !important; }
    #portal_config.container-md .slot.offset-7, #portal_config.container-md .slot.offset-sm-7, #portal_config.container-md .slot.offset-md-7 {
      margin-left: 58.33333333% !important; }
    #portal_config.container-md .slot.offset-6, #portal_config.container-md .slot.offset-sm-6, #portal_config.container-md .slot.offset-md-6 {
      margin-left: 50% !important; }
    #portal_config.container-md .slot.offset-5, #portal_config.container-md .slot.offset-sm-5, #portal_config.container-md .slot.offset-md-5 {
      margin-left: 41.66666667% !important; }
    #portal_config.container-md .slot.offset-4, #portal_config.container-md .slot.offset-sm-4, #portal_config.container-md .slot.offset-md-4 {
      margin-left: 33.33333333% !important; }
    #portal_config.container-md .slot.offset-3, #portal_config.container-md .slot.offset-sm-3, #portal_config.container-md .slot.offset-md-3 {
      margin-left: 25% !important; }
    #portal_config.container-md .slot.offset-2, #portal_config.container-md .slot.offset-sm-2, #portal_config.container-md .slot.offset-md-2 {
      margin-left: 16.66666667% !important; }
    #portal_config.container-md .slot.offset-1, #portal_config.container-md .slot.offset-sm-1, #portal_config.container-md .slot.offset-md-1 {
      margin-left: 8.33333333% !important; }
    #portal_config.container-md .slot.offset-0, #portal_config.container-md .slot.offset-sm-0, #portal_config.container-md .slot.offset-md-0 {
      margin-left: 0 !important; }
  #portal_config.container-lg {
    width: 992px !important; }
    #portal_config.container-lg .slot.offset-11, #portal_config.container-lg .slot.offset-sm-11, #portal_config.container-lg .slot.offset-md-11, #portal_config.container-lg .slot.offset-lg-11 {
      margin-left: 91.66666667% !important; }
    #portal_config.container-lg .slot.offset-10, #portal_config.container-lg .slot.offset-sm-10, #portal_config.container-lg .slot.offset-md-10, #portal_config.container-lg .slot.offset-lg-10 {
      margin-left: 83.33333333% !important; }
    #portal_config.container-lg .slot.offset-9, #portal_config.container-lg .slot.offset-sm-9, #portal_config.container-lg .slot.offset-md-9, #portal_config.container-lg .slot.offset-lg-9 {
      margin-left: 75% !important; }
    #portal_config.container-lg .slot.offset-8, #portal_config.container-lg .slot.offset-sm-8, #portal_config.container-lg .slot.offset-md-8, #portal_config.container-lg .slot.offset-lg-8 {
      margin-left: 66.66666667% !important; }
    #portal_config.container-lg .slot.offset-7, #portal_config.container-lg .slot.offset-sm-7, #portal_config.container-lg .slot.offset-md-7, #portal_config.container-lg .slot.offset-lg-7 {
      margin-left: 58.33333333% !important; }
    #portal_config.container-lg .slot.offset-6, #portal_config.container-lg .slot.offset-sm-6, #portal_config.container-lg .slot.offset-md-6, #portal_config.container-lg .slot.offset-lg-6 {
      margin-left: 50% !important; }
    #portal_config.container-lg .slot.offset-5, #portal_config.container-lg .slot.offset-sm-5, #portal_config.container-lg .slot.offset-md-5, #portal_config.container-lg .slot.offset-lg-5 {
      margin-left: 41.66666667% !important; }
    #portal_config.container-lg .slot.offset-4, #portal_config.container-lg .slot.offset-sm-4, #portal_config.container-lg .slot.offset-md-4, #portal_config.container-lg .slot.offset-lg-4 {
      margin-left: 33.33333333% !important; }
    #portal_config.container-lg .slot.offset-3, #portal_config.container-lg .slot.offset-sm-3, #portal_config.container-lg .slot.offset-md-3, #portal_config.container-lg .slot.offset-lg-3 {
      margin-left: 25% !important; }
    #portal_config.container-lg .slot.offset-2, #portal_config.container-lg .slot.offset-sm-2, #portal_config.container-lg .slot.offset-md-2, #portal_config.container-lg .slot.offset-lg-2 {
      margin-left: 16.66666667% !important; }
    #portal_config.container-lg .slot.offset-1, #portal_config.container-lg .slot.offset-sm-1, #portal_config.container-lg .slot.offset-md-1, #portal_config.container-lg .slot.offset-lg-1 {
      margin-left: 8.33333333% !important; }
    #portal_config.container-lg .slot.offset-0, #portal_config.container-lg .slot.offset-sm-0, #portal_config.container-lg .slot.offset-md-0, #portal_config.container-lg .slot.offset-lg-0 {
      margin-left: 0 !important; }
  #portal_config.container-xl {
    width: 1200px !important; }
    #portal_config.container-xl .slot.offset-11, #portal_config.container-xl .slot.offset-sm-11, #portal_config.container-xl .slot.offset-md-11, #portal_config.container-xl .slot.offset-lg-11, #portal_config.container-xl .slot.offset-xl-11 {
      margin-left: 91.66666667% !important; }
    #portal_config.container-xl .slot.offset-10, #portal_config.container-xl .slot.offset-sm-10, #portal_config.container-xl .slot.offset-md-10, #portal_config.container-xl .slot.offset-lg-10, #portal_config.container-xl .slot.offset-xl-10 {
      margin-left: 83.33333333% !important; }
    #portal_config.container-xl .slot.offset-9, #portal_config.container-xl .slot.offset-sm-9, #portal_config.container-xl .slot.offset-md-9, #portal_config.container-xl .slot.offset-lg-9, #portal_config.container-xl .slot.offset-xl-9 {
      margin-left: 75% !important; }
    #portal_config.container-xl .slot.offset-8, #portal_config.container-xl .slot.offset-sm-8, #portal_config.container-xl .slot.offset-md-8, #portal_config.container-xl .slot.offset-lg-8, #portal_config.container-xl .slot.offset-xl-8 {
      margin-left: 66.66666667% !important; }
    #portal_config.container-xl .slot.offset-7, #portal_config.container-xl .slot.offset-sm-7, #portal_config.container-xl .slot.offset-md-7, #portal_config.container-xl .slot.offset-lg-7, #portal_config.container-xl .slot.offset-xl-7 {
      margin-left: 58.33333333% !important; }
    #portal_config.container-xl .slot.offset-6, #portal_config.container-xl .slot.offset-sm-6, #portal_config.container-xl .slot.offset-md-6, #portal_config.container-xl .slot.offset-lg-6, #portal_config.container-xl .slot.offset-xl-6 {
      margin-left: 50% !important; }
    #portal_config.container-xl .slot.offset-5, #portal_config.container-xl .slot.offset-sm-5, #portal_config.container-xl .slot.offset-md-5, #portal_config.container-xl .slot.offset-lg-5, #portal_config.container-xl .slot.offset-xl-5 {
      margin-left: 41.66666667% !important; }
    #portal_config.container-xl .slot.offset-4, #portal_config.container-xl .slot.offset-sm-4, #portal_config.container-xl .slot.offset-md-4, #portal_config.container-xl .slot.offset-lg-4, #portal_config.container-xl .slot.offset-xl-4 {
      margin-left: 33.33333333% !important; }
    #portal_config.container-xl .slot.offset-3, #portal_config.container-xl .slot.offset-sm-3, #portal_config.container-xl .slot.offset-md-3, #portal_config.container-xl .slot.offset-lg-3, #portal_config.container-xl .slot.offset-xl-3 {
      margin-left: 25% !important; }
    #portal_config.container-xl .slot.offset-2, #portal_config.container-xl .slot.offset-sm-2, #portal_config.container-xl .slot.offset-md-2, #portal_config.container-xl .slot.offset-lg-2, #portal_config.container-xl .slot.offset-xl-2 {
      margin-left: 16.66666667% !important; }
    #portal_config.container-xl .slot.offset-1, #portal_config.container-xl .slot.offset-sm-1, #portal_config.container-xl .slot.offset-md-1, #portal_config.container-xl .slot.offset-lg-1, #portal_config.container-xl .slot.offset-xl-1 {
      margin-left: 8.33333333% !important; }
    #portal_config.container-xl .slot.offset-0, #portal_config.container-xl .slot.offset-sm-0, #portal_config.container-xl .slot.offset-md-0, #portal_config.container-xl .slot.offset-lg-0, #portal_config.container-xl .slot.offset-xl-0 {
      margin-left: 0 !important; }
