/* Add a horizontal line on top of class headings in documentation */
/*.docstring .class .section-title {*/
.doc-class, .doc-function {
    border-top: 1px dotted #666;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
