.config-details-panel {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: var(--std-gap);
    h4 {
        text-align: center;
    }
}
.config-kwarg {
    display: grid;
    grid-template-rows: 1f;
    grid-template-columns: 2fr 3fr;
}
.entry {
    min-width: 30px;
}